<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <%=@choice_collection.user.name_or_email%> has viewed choice collection <%=@choice_collection.name%>. 

      To view this user please <a href="http://assistedchoice.com<%=admin_user_path(@choice_collection.user)%>">click here.</a>
    </p>
  </body>
</html>