User has viewed choice collection
================================================
<%=@choice_collection.user.name_or_email%> has viewed choice collection <%=@choice_collection.name%>. 

To view this user please <a href="http://assistedchoice.com<%=admin_user_path(@choice_collection.user)%>">click here.</a>