#dashboard.content_page
  h1
    span = "Hello #{current_user.first_name || current_user.email}"
    span.small_links
      = link_to 'Edit Account', edit_user_registration_path
      |&nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to 'Log Out', '/users/sign_out'

  p Welcome to your account home page. This is where you can view your Choice Collections from Assisted Choice.

  / advocate not yet assigned
  - if @advocate.nil?
    p 
      | If you have any questions or are ready to schedule a tour, please contact your Assisted Choice Family Advocate at 
      strong &#40;404&#41; 334-5500.

    p.button_box
    
      a.button.btn_cta.lead_form_trigger href='javascript:void(0);' title='Schedule a Tour' data-community-id="0" data-for="check_availability_form" data-title="Schedule a Tour" Schedule a Tour

      | &nbsp; &nbsp;
      span.break_box
        a.button.lead_form_trigger href='javascript:void(0);' title='Email Us' data-community-id="0" data-for="check_availability_form" data-title="Email Us" Email Us

  - else
    #advocate_contact_msg
      p = "If you have any questions or are ready to schedule a tour, please contact your Assisted Choice Family Advocate, #{@advocate.first_name} #{@advocate.last_name}."
      - if @advocate.headshot_path
        .image_box.box1
          img#cc_headshot src=@advocate.headshot_path
      #cc_signature.box2
        p 
          = "#{@advocate.first_name} #{@advocate.last_name}"
          br 
          | Family Advocate
          br
          strong = formatted_phone @advocate.phone
          br
          span.email_address= @advocate.email
        p.button_box   
        a.button.btn_cta.lead_form_trigger href='javascript:void(0);' title='Schedule a Tour' data-community-id="0" data-for="check_availability_form" data-title="Schedule a Tour" Schedule a Tour
        | &nbsp; &nbsp;

      .clr
      
    / .section#comments
    /   h2 Comments
    /   p= "If you have questions or comments for #{@advocate.first_name}, you can use comments to keep track of the conversation."
    /   p 
    /     a.button Add a Comment
    /   #comments_box
    /     .comment
    /       p.comment_title 
    /         ' Jens Beatty
    /         span.time_stamp
    /          ' - Jan 9, 2015 10:23 -
    /          a href='javascript:void(0);' Edit
    /          | &nbsp;|&nbsp;
    /          a href='javascript:void(0);' Delete
    /       .comment_msg
    /         p Comments should be able to support paragraphs somehow.
    /         p This will let me say lots of big things to my family advocate.

    /     .comment
    /       p.comment_title 
    /         ' Jens Beatty
    /         span.time_stamp
    /          ' - Jan 9, 2015 10:23 -
    /          a href='javascript:void(0);' Edit
    /          | &nbsp;|&nbsp;
    /          a href='javascript:void(0);' Delete
    /       .comment_msg
    /         p Comments should be able to support paragraphs somehow.
    /         p This will let me say lots of big things to my family advocate.
    /     p 
    /       a.button Add a Comment




  .section
    h2 Choice Collections

    - if @choice_collections.length == 0
      p.note 
        ' Please contact us at 
        strong &#40;404&#41; 334-5500 
        | to create your personalized Choice Collection
    - else 
      p.note Click the links below to view your Choice Collections
      ul
        - @choice_collections.each do |cc|
          li
            strong = link_to cc.name, choice_collection_path(cc)
            |&nbsp;-&nbsp;Sent&nbsp;
            span.js_time= cc.created_at.to_i
            |&nbsp;by&nbsp;
            strong= cc.admin.name_or_email

  .section
    h2
      =link_to 'View Favorites', '/favorites'
    p.note= "You have #{pluralize(@favorites_count, 'community')} saved"
    br

    h2
      =link_to 'Saved Searches', searches_path
    p.note= "You have #{pluralize(@saved_search_count, 'search')} saved"
    br

    h2
      =link_to 'Start a New Search', root_path
    p.note Search hundreds of listings for the perfect fit for your needs
