<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>AssistedChoice Community Email - <%= @lead.community.name %></h1>
    <p><b>Community</b>: [ID: <%= @lead.community.id %>] <%= @lead.community.name %></p>
    <p><b>Name</b>: <%= @lead.first_name %> <%= @lead.last_name %></p>
    <p><b>Email</b>: <%= @lead.email %></p>
    <p><b>Phone #</b>: <%= @lead.phone %></p>
    <p><b>Comments</b>: <%= @lead.comments %></p>
    <% unless @first_request_url.blank? %> 
    <p><b>First Request URL</b>: <%= @first_request_url %></p>
    <% end %>
  </body>
</html>