AssistedChoice Community Email - <%= @lead.community.name %>
================================================
Community: [ID: <%= @lead.community_id %>] <%= @lead.community.name %>
Name: <%= @lead.first_name %> <%= @lead.last_name %>
Email: <%= @lead.email %>
Phone #: <%= @lead.phone %>
Comments: <%= @lead.comments %>
<% unless @first_request_url.blank? %> 
First Request URL: <%= @first_request_url %>
<% end %>