.content_page.community_edit
  .section
    p 
      span.icon_back.sprite
      = link_to 'Back to Community', edit_admin_community_path(@community)
    h1 
      | Photos for 
      = @community.name

    - if @content_type_error
      h4=@content_type_error
    .section
      =simple_form_for [:admin, @community], url: admin_community_photos_path, method: :post, html: { multipart: true } do |f|
        .file_upload_box
          span.button
            | Upload Photos
          =f.association :attachments, as: :file, input_html: { multiple: true }, label: 'Upload photos'

    .section
      ul#image_list
        - (@attachments || []).each_with_index do |photo, index|
          li data-url=admin_community_photo_path(@community.id, photo.id) data-index=index
            span.image_box
              span.icon_delete.sprite title="Delete Photo"
              = image_tag(photo.small_path)
              span.photo_controls
                - if index != 0
                  span.icon_arrow_west 
                span.photo_number= index+1
                - if index != @attachments.length - 1
                  span.icon_arrow_east
                span.clr
            span.clr
    p 
      span.icon_back.sprite
      = link_to 'Back to Community', edit_admin_community_path(@community)
