<div class="content_page">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: :true }) do |f| %>
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <%= devise_error_messages! %>


  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

    <div><%= f.label :phone %><br />
  <%= f.text_field :phone%></div>

  <%- if @user.internal? %>
    <div id="edit_headshot">
      <%- if resource.headshot_path %>
        <img id="user_edit_headshot" src="<%= resource.headshot_path %>" />
        <p><%= link_to 'Delete Headshot', delete_headshot_path, data: { confirm: 'Are you sure?' }, method: :delete %></p>
      <% end %>
      <label class="file optional control-label" for="user_headshot">Upload Headshot Image</label>
      <input class="file optional" id="user_headshot"  name="user[headshot]" type="file" />
      <span class="hint">Shown when user views a choice collection.</span>
    </div>
  <% end %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div class="text_align_center button_box"><%= f.submit "Update" , :class => "btn_cta btn_large" %></div>
<% end %>

<div class="form_content">


<p class="text_align_center"><%= link_to "Cancel Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>


</div>

</div>
