<div class="content_page">
	

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	  <h2>Join Now</h2>
	  <%= devise_error_messages! %>

	  <div><%= f.label :first_name %><br />
  	<%= f.text_field :first_name, autofocus: true %></div>

	  <div><%= f.label :last_name %><br />
	  <%= f.text_field :last_name %></div>

	  <div><%= f.label :phone %><br />
  	<%= f.text_field :phone%></div>
  	
	  <div><%= f.label :email %>
	  <%= f.email_field :email %></div>

	  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
	    <%= f.password_field :password, autocomplete: "off" %></div>

	  <div><%= f.label :password_confirmation %>
	    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

	  <div class="text_align_center button_box"><%= f.submit "Sign Up" ,:class => "btn_cta btn_large" %></div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>
