- form_path = @dining.id.nil? ? admin_community_community_dining_index_path : admin_community_community_dining_path

= simple_form_for(@dining, url: form_path) do |f|

  = f.input :meals_per_day, :as=>"integer"
  = f.input :meals_description
  = f.input :breakfast_hours
  = f.input :lunch_hours
  = f.input :dinner_hours
  = f.input :kitchen_hours
  = f.input :guest_breakfast_charge
  = f.input :guest_lunch_charge
  = f.input :guest_dinner_charge

  = f.submit 'Save', class:'button btn_cta btn_large'
  = link_to 'Cancel', edit_admin_community_path(@community), class: 'button btn_large'


  
  
  - unless @dining.id.blank?
    = link_to "Delete this Dining Info", admin_community_community_dining_path(@community, @dining), data: { method: :delete, confirm: 'Are you sure?' }, class: 'link_delete'