.content_page.community_edit
  p 
		span.icon_back.sprite
		= link_to 'Back to Community', edit_admin_community_path(@community)

  h1 
    ' Food and Dining for
    = @community.name

  = render 'form'