<div class="text_align_center form_links">

<%- devise_links = [] %>

<%- if controller_name != 'sessions' %>
  <%- devise_links << link_to("Log in", new_session_path(resource_name)) %>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%- devise_links << link_to("Join Now", new_registration_path(resource_name)) %>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%- devise_links << link_to("Forgot Your Password?", new_password_path(resource_name)) %>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%- devise_links << link_to("Didn't receive confirmation instructions?", new_confirmation_path(resource_name)) %>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%- devise_links << link_to("Didn't receive unlock instructions?", new_unlock_path(resource_name)) %>
<% end -%>

<%= raw devise_links.join("&nbsp;|&nbsp;") %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%#= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %>
  <% end -%>
<% end -%>

</div
