.content_page.community_edit
  p 
    span.icon_back.sprite
    = link_to 'Back to Community', edit_admin_community_path(@community)
  h2 
    | Attach Files for 
    = @community.name
  
  .section
    #attachment_upload
      =simple_form_for [:admin, @community], url: admin_community_attachments_path, method: :post, html: { multipart: true } do |f|
        p.info_text 
          | Choose a Type:
          select name="community[internal_name]"
            -@names.each do |name|
              option value==name
                =name
        .file_upload_box
          span.button
            | Choose a File
          =f.association :attachments, as: :file, input_html: { multiple: true }, label: 'Upload photos'

  .section
    h2 Attached Files
    #attachment_list
      - @community_pdfs.each_with_index do |pdf, index|
        p data-url=admin_community_attachment_path(@community.id, pdf.id) data-index=index
          strong
            = link_to pdf.internal_name, pdf.pdf.url
          | &nbsp;- 
          span.link_delete
            =link_to "Delete", admin_community_attachment_path(@community.id, pdf.id), :method=>"DELETE", 'data-confirm' => 'Are you sure?'
  p 
    span.icon_back.sprite
    = link_to 'Back to Community', edit_admin_community_path(@community)

