#admin_dashboard.content_page
  #user_search.section
    h2 
      a href=admin_users_path Users 
      span.note 
        a href=admin_users_path Create &amp; edit choice collections
        | &nbsp;|&nbsp;
        a href=new_admin_user_path Add New User
        | &nbsp;|&nbsp;
        = link_to 'User Report', report_admin_users_path
    
  .section
    h2 
      a href=admin_communities_path Communities 
      span.note
        a href=admin_communities_path Search Communities
        | &nbsp;|&nbsp;
        a href=new_admin_community_path Add New Community
  / Commenting out until we add providers back into the mix
  / .section
  /   h2 
  /     ' Listings 
  /     span.note
  /       a href='#' Search Listings & Services
  /       | &nbsp;|&nbsp;
  /       a href='#' Add New Listing
    
  .section
    h2 
      a href=admin_choice_collections_path Choice Collections
      span.note Your recent Choice Collections
  .section
    h2 
      a href=admin_tags_path Features Editor
      span.note Edit and categorize features for communities and services
    p
  .clr



