= simple_form_for [:admin, @community, @deposit_fee] do |f|
  = f.input :name
  = f.input :fee
  = f.input :deposit

  = f.submit 'Save', class: 'button btn_cta btn_large'
  = link_to 'Cancel', admin_community_costs_path(@community), class: 'button btn_large'


  
