.content_page.community_edit
  p 
    span.icon_back.sprite
    = link_to 'Back to Costs', admin_community_costs_path(@community)


  h1 
    ' New One-Time Fee for
    = @community.name 

  = render 'form'
