= simple_form_for [:admin, @glossary_term] do |f|
  .section
    .section
      = f.input :name, label: 'Name'
      = f.input :kind, input_html: { value: 'care charge' }
      = f.input :description
      = f.submit 'Save'