.content_page.community_edit
  p 
    span.icon_back.sprite
    = link_to 'Back to Glossary Terms', admin_glossary_terms_path

  h1 
    | Glossary Term&nbsp;-&nbsp;
    = @glossary_term.name

  = render 'form'