.content_page.community_edit
  p 
    span.icon_back.sprite
    = link_to 'Back to Admin', admin_root_path

  h1 Glossary Terms

  .section.borderless  
    h2 = link_to 'Add New', new_admin_glossary_term_path, class: 'button'

    ul.costs_list
      - @glossary_terms.each do |gt|
        li
          ul
            li
              strong= "#{gt.name || '-'}"
              | &nbsp;-&nbsp;
              span = link_to 'Edit', edit_admin_glossary_term_path(gt)
              |&nbsp;|&nbsp;
              span = link_to 'Delete', admin_glossary_term_path(gt), 'data-method' => :delete, 'data-confirm' => 'Are you sure?'
            li= "Description: #{gt.description || '-'}"
