#costs_page.content_page.community_edit
  p 
    span.icon_back.sprite
    = link_to 'Back to Community', edit_admin_community_path(@community)
  h1 
    ' Costs for
    = @community.name

  .section.borderless  
    h2 
      ' One-Time Costs
      = link_to 'Add New', new_admin_community_deposit_fee_path, class: 'button'
    ul.costs_list
      - @community.deposit_fees.each do |df|
        li
          ul
            li.cost_title
              strong= "#{df.name || '-'}"
              | &nbsp;-&nbsp;
              span = link_to 'Edit', edit_admin_community_deposit_fee_path(@community, df)
              |&nbsp;|&nbsp;
              span = link_to 'Delete', admin_community_deposit_fee_path(@community, df), 'data-method' => :delete, 'data-confirm' => 'Are you sure?'

            li
              ' Fee: 
              strong= "#{df.fee.blank? ? 'N/A' : cost(df.fee)}"
            li
              ' Deposit: 
              strong = "#{df.deposit.blank? ? 'N/A' : cost(df.deposit)}"

    -if @community.deposit_fees.blank?         
      p There are no one-time costs at this time.
        
        

    
    .clr
  .section.borderless 
    h2 
      ' Monthly Costs
      = link_to 'Add New', new_admin_community_other_service_path, class: 'button'
    ul.costs_list
      - @community.other_services.each do |os|
        li
          ul
            li.cost_title
              strong = "#{os.name || '-'}"
              | &nbsp;-&nbsp;
              = link_to 'Edit', edit_admin_community_other_service_path(@community, os)
              |&nbsp;|&nbsp;
              = link_to 'Delete', admin_community_other_service_path(@community, os), 'data-method' => :delete, 'data-confirm' => 'Are you sure?'


            li
              ' Included in Rent: 
              strong = "#{os.included_in_rent? ? 'Yes' : 'No'}"
            li
              ' Monthly Cost: 
              strong = "#{os.monthly_cost.blank? ? 'N/A' : cost(os.monthly_cost)}"
    -if @community.other_services.blank? 
      p There are no monthly costs at this time


  p 
    span.icon_back.sprite
    = link_to 'Back to Community', edit_admin_community_path(@community)

  br
  br

 