<div class="content_page">

  

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%- if params[:cc_id] %>
      <%= render 'choice_collections/cc_login' %>
    <%- end %>
    <h2>Set Your Password</h2>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div><%= f.label :password, "New password" %><br />
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %></div>

    <div><%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

    <div class="text_align_center button_box"><%= f.submit "Set Password", class: 'btn_large button btn_cta' %></div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
