<div class="content_page">


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <h2>Forgot your password?</h2>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div class="text_align_center button_box"><%= f.submit "Reset Password", :class => "btn_cta btn_large" %></div>
<% end %>

<%= render "devise/shared/links" %>

</div>
