#header
  a#logo.sprite href="/"
  - if @choice_collection  && params[:edit]
    - u = @choice_collection.user
    #choice_collection_data style="display:none;" data-id=@choice_collection.id data-community-data=@choice_collection.choice_collection_communities.map{|x| { community_id: x.community_id, notes: x.notes.last.try(:body), name: @choice_collection.advocate.try(:name_or_email) || @choice_collection.admin.name_or_email } }.to_json
    p.headline 
      span.break_box Editing&nbsp;
      span.collection_name 
        =@choice_collection.name
      | &nbsp;
      ' for 
      span.break_box.collection_user_name 
        -if u.first_name || u.last_name
          = link_to "#{u.first_name} #{u.last_name}", admin_user_path(u), :title=>'View User Profile'
        -else
          = link_to "#{u.email}", admin_user_path(u)
      span.choice_collection_links.break_box
        | &nbsp; - &nbsp;
        =link_to "Rename", "javascript:void(0)", :class=>"edit_cc_name", :title=>'Rename this Choice Collection', 'data-name'=>@choice_collection.name
        |&nbsp; | &nbsp;
        =link_to "Review", admin_choice_collection_path(@choice_collection), :title=>'Review & Send this Choice Collection to the User'

  ul#login_links
    li.login_link_box.logged_out
      a href="/users/sign_in" Login
    li.logged_in
      a href="/admin" Dashboard   
    li.logged_in
      a href="/users/sign_out" Log Out

  ul#nav
    li.nav_level1
      a href="javascript:void(0);" 
        span.icon_menu.sprite
      ul.nav_level2
        - if current_user.try(:admin?)
          li
            a href="/admin" Dashboard

        li.logged_in
          a href=admin_communities_path Search Communities
        li.logged_in
          a href=admin_users_path Search Users
        li.logged_in
          a href=admin_choice_collections_path Choice Collections
        li.logged_in
          a href=admin_glossary_terms_path Glossary Editor
        li.logged_in
          a href=admin_tags_path Features Editor

        li.logged_in
          a href="/users/edit" Account
          // a href="/users/edit" #{current_user.email}

        li.logged_in.login_link_box 
          a href="/users/edit" Account
        li.logged_in.login_link_box 
          a href="/users/sign_out" Log Out




