-if current_user
  input type="hidden" id="user-exists" value="true"
#header
  a#logo.sprite href="/"
  
  p.headline 
    span.break_box Our Free, Personalized Service Helps Thousands of Atlanta Area Families.&nbsp;
    span.break_box 
      ' Talk to a Local Senior Housing and Care Expert Now: 
      span.phone
        | (404) 334-5500

  ul#login_links
    li.login_link_box.logged_out

      a.link_price_estimate.lead_form_trigger id="lead_form_00_results_2" data-phone='(404) 334-5500' data-title="Get Expert Help"  data-for="check_availability_form" title="Get Expert Help" href="javascript:void(0);"
        | Get Expert Help

    li.login_link_box.logged_out
      a href="/users/sign_up" Join
    li.login_link_box.logged_out
      a href="/users/sign_in" Log in
    li.logged_in
      a href="/dashboard" Your Family Account
    li.logged_in 
      a href="/favorites" Favorites     
    
      
  ul#nav
    li.nav_level1
      a href="javascript:void(0);"
        span.icon_menu.sprite
        span.link_text More
      ul.nav_level2
        - if current_user.try(:internal?)
          li
            a href="/admin" Admin
        li.logged_out.login_link_box 
          a href="/users/sign_up" Join Now
        li.logged_in.login_link_box 
          a href="/dashboard" Family Account
        li.logged_in.login_link_box 
          a href="/favorites" Favorites
        / li.logged_in
        /   a href="/dashboard" Dashboard 
        li.logged_in.construction
          a href="#" Choice Collection
        /li 
        /  a href="/about" About Us
        li 
          a href="/policy" Privacy Policy 
        / li.logged_in
        /   a href="/users/edit" Account
        li.logged_in
          a href="/users/sign_out" Log Out


  a#map_switch.construction href="javascript:void(0);" Map



