#options_price.options_group_box
  span.title Monthly Cost
  .options_group
    span.box
      label for="price_min_option" Min. Price
      select id="price_min_option" name="price[min]"
        option selected=(@search['price'].try(:[], 'min')=="0" ? "" : nil) value="0" $0
        
        - (1000..9000).step(1000).each do |num|
          option selected=(@search['price'].try(:[], 'min')==num.to_s ? "" : nil) value=num =cost(num)

        option selected=(@search['price'].try(:[], 'min')=="100000" ? "" : nil) value="100000" $10,000+

    span.box
      label for="price_max_option" Max. Price
      select id="price_max_option" name="price[max]"
        option selected=(@search['price'].try(:[], 'max')=="100000" ? "" : nil) value="100000" $10,000+

        - 9000.step(1000,-1000) do |num|
          option selected=(@search['price'].try(:[], 'max')==num.to_s ? "" : nil) value=num =cost(num)

    .clr