#total_result_count.hidden=@results.total_count

- (@matched_results.to_a + @results.to_a).each do |result|
  .result id=result.id data-attributes=result.to_json data-url=community_path(result) class=favorites_class(result)
    span.map_active_arrow
      span.arrow_pointer
    span.favorite_box
      span.icon_favorite.sprite title="Add to Favorites"

    .box1
      .image_box
        = link_to(community_image(result.hero_image, small: true, :class=> 'details_link'), community_path(result), :class=>'details_link')
    
    .box2
      .category= result.care_types.join(' | ')
      .title
        =link_to result.name, community_path(result), class: 'details_link'
      
      span.address
        span.address1
          ==result.address
        span.seperator &nbsp; - &nbsp;
        span.address2 
          =get_location_string(result)

      .cta_box
        .box
          span.phone 
            == phone_number(result)
        .box.box2
          a.link_check_availability.lead_form_trigger id="lead_form_#{result.id}_results_0" data-phone=raw_phone_number(result) data-title="Check Availability" data-community-id=result.id data-for="check_availability_form" title="Check Availability" 
            span.icon_expand.sprite
            | Check Availability
          a.link_schedule_tour.lead_form_trigger id="lead_form_#{result.id}_results_1" data-phone=raw_phone_number(result) data-title="Schedule a Tour" data-community-id=result.id data-for="check_availability_form" title="Schedule a Tour" 
            span.icon_expand.sprite
            | Schedule a Tour
          a.link_price_estimate.lead_form_trigger id="lead_form_#{result.id}_results_2" data-phone=raw_phone_number(result) data-title="Get a Price Estimate" data-community-id=result.id data-for="check_availability_form" title="Get a Price Estimate" 
            span.icon_expand.sprite
            | Get an Estimate
        .clr
          
      span.price
        - if result.starting_at.to_i != 0
          | Starting at 
          = cost(result.starting_at)
          span.small_text 
            | /mo.

      span.link_details
        =link_to 'View Photos, Floorplans, Pricing & More', community_path(result), class: 'details_link'
      .clr

    - if (@note_ids || []).include?(result.id)
      .notes
        a.view_detail_notes.link_notes_big.details_link href="javascript:void(0);" title="View Advocate Notes on this Community"
          span.icon_notes.sprite
          | Advocate Notes
        span.link_notes_big &nbsp;-&nbsp;  
        a.view_detail_notes.link_notes_big.details_link href="javascript:void(0);" title="View My Notes on this Community"
          | My Notes
        span.link_notes_big &nbsp;-&nbsp;
        a.view_detail_notes.link_notes_big.details_link href="javascript:void(0);" title="Add a Note on this Community"
          | Add a Note
        a.view_detail_notes.link_notes_small.details_link href="javascript:void(0);" title="View/Add Notes on this Community" 
          span.icon_notes.sprite
          | Notes
    .clr

#infinite_scrolling
  =will_paginate @results

#special_margin