#search_box
  form#search_form action=root_path method="POST"
    input name="authenticity_token" value=form_authenticity_token type="hidden"
    input name="sort" value=(@search['sort'] || "distance") type="hidden"

    ul#search_tabs.tabs style="display:none"
      li#tab_housing.active
        a href="javascript:void(0);" 
          | Senior Care
          br
          | Communities
      li#tab_at_home
        a href="javascript:void(0);" 
          | Senior Care
          br
          | at Home
      li#tab_resources
        a href="javascript:void(0);" 
          | Family &amp; Senior
          br
          | Resources

    #search_intro_box
      #intro_housing.search_intro.active  Find Assisted Living, Independent Living, Memory Care
      #intro_at_home.search_intro  Find Home Care, Hospice, Adult Day, Home Health
      #intro_resources.search_intro  Find Legal, Financial, Insurance
    #search_field_holder.auto_complete_box 
      #search_field_box data-url=root_path

        input type='text' id='communities-autocomplete-input' data-url=autocomplete_communities_path placeholder="Search City, Zip, or Community Name" name="term" autocomplete="off" class="auto_complete_in" value=@search['term']

        input#search_kind type='hidden' name='kind' value=@search['kind']
        //ul#search_channels
          //li.search_channel Type

        / a.btn_search.btn_cta.button href="#" 
        /   span.icon_search.sprite

      / a#search_tip.link_tooltip href="javascript:void(0);" 
      /   span.link_text ? 
      /   span.tooltip.right
      /     span.tooltip_title Tooltip Title
      /     span.tooltip_paragraph Tooltip text paragraph looks like this. Tooltip text paragraph looks like this. Tooltip text paragraph looks like this.
      /     span.tooltip_paragraph Tooltip text paragraph looks like this. Tooltip text paragraph looks like this. Tooltip text paragraph looks like this. 

      #communities-autocomplete-output.auto_complete_out

    #search_options

      .options_box
        #search_housing.options_group_box
          span.title Choose Community Type(s)
          .options_group
            - if @search.blank?
              span.box
                input type="checkbox" checked="" name="community_type[Independent Living]" id="comm_type_il_option"
                label for="comm_type_il_option" Independent Living
              span.box
                input type="checkbox" checked="" name="community_type[Assisted Living]" id="comm_type_al_option"
                label for="comm_type_al_option" Assisted Living
              span.box
                input type="checkbox" checked="" name="community_type[Memory Care]" id="comm_type_mc_option"
                label for="comm_type_mc_option" Memory Care
            - else
              span.box
                input type="checkbox" checked=(@search['community_type']['Independent Living'] == 'on' ? "" : nil) name="community_type[Independent Living]" id="comm_type_il_option"
                label for="comm_type_il_option" Independent Living
              span.box
                input type="checkbox" checked=(@search['community_type']['Assisted Living'] == 'on' ? "" : nil) name="community_type[Assisted Living]" id="comm_type_al_option"
                label for="comm_type_al_option" Assisted Living
              span.box
                input type="checkbox" checked=(@search['community_type']['Memory Care'] == 'on' ? "" : nil) name="community_type[Memory Care]" id="comm_type_mc_option"
                label for="comm_type_mc_option" Memory Care
            / span.box
            /   input type="checkbox" checked="" name="community_type[Residential Care Home]" id="comm_type_rch_option"
            /   label for="comm_type_rch_option" Residential Care Home
            / span.box
            /   input type="checkbox" checked="" name="community_type[Continuing Care]" id="comm_type_ccrc_option"
            /   label for="comm_type_ccrc_option" Continuing Care (CCRC)
            / span.box
            / span.box
            /   input type="radio" name="care_types_radio" value="community_type[nursing home rehab]" id="comm_type_nhr_option"
            /   label for="comm_type_nhr_option" Nursing Home/Rehab
            / span.box
            /   input type="radio" name="care_types_radio" value="community_type[hospice]" id="comm_type_hospice_option"
            /   label for="comm_type_hospice_option" Hospice (In-Patient)
            .clr

          #advanced_search_box.hidden
            #options_beds.options_group_box
              span.title Bedrooms
              .options_group
                - if @search.blank?
                  span.box
                    input type="checkbox" checked="" name="beds[shared]" id="br_shared_option"
                    label for="br_shared_option" Shared 
                  span.box
                    input type="checkbox" checked="" name="beds[studio]" id="br_studio_option"
                    label for="br_studio_option" Studio
                  span.box
                    input type="checkbox" checked="" name="beds[1 bedroom]" id="br_1br_option"
                    label for="br_1br_option" 1 Bedroom
                  span.box
                    input type="checkbox" checked="" name="beds[2 bedroom]" id="br_2br_option"
                    label for="br_2br_option" 2 Bedrooms
                  span.box
                    input type="checkbox" checked="" name="beds[3 bedroom]" id="br_3br_option"
                    label for="br_3br_option" 3 Bedrooms
                - else
                  span.box
                    input type="checkbox" checked=(@search['beds']['shared'] == 'on' ? "" : nil) name="beds[shared]" id="br_shared_option"
                    label for="br_shared_option" Shared 
                  span.box
                    input type="checkbox" checked=(@search['beds']['studio'] == 'on' ? "" : nil) name="beds[studio]" id="br_studio_option"
                    label for="br_studio_option" Studio
                  span.box
                    input type="checkbox" checked=(@search['beds']['1 bedroom'] == 'on' ? "" : nil) name="beds[1 bedroom]" id="br_1br_option"
                    label for="br_1br_option" 1 Bedroom
                  span.box
                    input type="checkbox" checked=(@search['beds']['2 bedroom'] == 'on' ? "" : nil) name="beds[2 bedroom]" id="br_2br_option"
                    label for="br_2br_option" 2 Bedrooms
                  span.box
                    input type="checkbox" checked=(@search['beds']['3 bedroom'] == 'on' ? "" : nil) name="beds[3 bedroom]" id="br_3br_option"
                    label for="br_3br_option" 3 Bedrooms
                / span.box
                /   input type="checkbox" checked="" name="beds[cottage]" id="br_cottage_option" 
                /   label for="br_cottage_option" Cottage
                .clr

            = render 'shared/price_options'

            #options_pets.options_group_box
              span.title Pets
              .options_group
                
                span.box
                  input type="checkbox" name="tags[dogs allowed]" id="pets_dogs_option" checked=(@search['tags'].try(:[], 'dogs allowed') == "on" ? "" : nil)
                  label for="pets_dogs_option" Dogs Allowed
                span.box
                  input type="checkbox" name="tags[cats allowed]" id="pets_cats_option" checked=(@search['tags'].try(:[], 'cats allowed') == "on" ? "" : nil)
                  label for="pets_cats_option" Cats Allowed
                .clr
            
          
        #search_at_home.options_group_box.hidden
          .options_group
            span.title Choose Service Type(s)
            span.box
              input type="checkbox" checked=""
              label Home Care
            span.box
              input type="checkbox" checked=""
              label Home Health Care
            span.box
              input type="checkbox" checked=""
              label Hospice at Home
            span.box
              input type="checkbox" checked=""
              label Adult Day Care
            span.box
              input type="checkbox" checked=""
              label Senior Center
            .clr

        #search_resources.options_group_box.hidden
          .options_group
            span.title Choose Resource Type(s)
            span.box
              input type="checkbox" checked=""
              label Financial Planning
            span.box
              input type="checkbox" checked=""
              label Elder Law
            span.box
              input type="checkbox" checked=""
              label Senior Insurance
            span.box
              input type="checkbox" checked=""
              label Aging Agency
            span.box
              input type="checkbox" checked=""
              label Care Giver Support
            span.box
              input type="checkbox" checked=""
              label Health Care Supplies
            span.box
              input type="checkbox" checked=""
              label Final Planning
            span.box
              input type="checkbox" checked=""
              label Senior Transitions Services
            span.box
              input type="checkbox" checked=""
              label Home Accessibility Contractors
            span.box
              input type="checkbox" checked=""
              label Professional Organizations
            span.box
              input type="checkbox" checked=""
              label Long Term Care Planning
            span.box
              input type="checkbox" checked=""
              label Senior Technical Services
            span.box
              input type="checkbox" checked=""
              label Employment Services
            span.box
              input type="checkbox" checked=""
              label Realtors
            .clr

      .clr
      .button_box 
        .box.text_align_left.search_bottom_links
          a#cancel_search_link href="javascript:void(0);" Cancel
          a#link_advanced_search href="javascript:void(0);" More Options
        .box.text_align_right
          input#btn_search.button.btn_cta.btn_large.btn_search type="submit" value="Search"
        .clr
      h2.call_for_help 
        span.break_box 
          ' Can't find the right service?
        span.break_box 
          ' Call us today 
        span.break_box.phone 
          | (404) 334-5500
    .clr



