javascript:
  (function() {
    var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
    se.src = '//commondatastorage.googleapis.com/code.snapengage.com/js/e40f7247-a363-4b58-8b8c-a6eaff5fce9b.js';
    var done = false;
    se.onload = se.onreadystatechange = function() {
      if (!done&&(!this.readyState||this.readyState==='loaded'||this.readyState==='complete')) {
        done = true;
        /* Place your SnapEngage JS API code below */
        /* SnapEngage.allowChatSound(true); Example JS API: Enable sounds for Visitors. */
        var seAgent;
        SnapABug.setCallback('OpenProactive', function(agent, msg) {
            seAgent = agent;
            _gaq.push(['_trackEvent', 'SnapEngage', 'proactivePrompt', agent]);
        });
         
        SnapABug.setCallback('StartChat', function(email, msg, type) {
            if (type == 'proactive') {
                _gaq.push(['_trackEvent', 'SnapEngage', 'proactiveEngaged', seAgent]);
            }
        });
      }
    };
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
  })();
