- @lead ||= Lead.new

= simple_form_for @lead do |f|
  - if @lead.errors.any?
    #error_explanation
      h4= "#{pluralize(@lead.errors.count, 'error')}:"
      ul
        - @lead.errors.full_messages.each do |message|
          li= message
          
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :phone
  = f.input :comments, label: 'Message'
  = f.hidden_field :community_id
  = f.hidden_field :kind
  .text_align_center
    = f.button :submit, value: 'Send',class: 'btn_large'
