h1 Thank You
p A family advocate will be in contact with you shortly.
p
  | For immediate assistance, call us now at &nbsp;
  strong 404-334-5500

- if @user
  p= link_to 'Create an account with us', edit_user_password_path(reset_password_token: @raw_token)
  p Creating an account will allow you to save your favorite communities for future reference.