<p>Thank you for the opportunity and pleasure to be of service.</p>

<p>Below is a link to your Family Account and the Choice Collection of Communities that I have selected based on your specific location criteria, budget, amenities and care needs.</p>

<p><strong>To review your personalized Choice Collection, click the link below. As soon as you are ready, let's discuss your comments and questions to determine our next steps. </strong></p>

<p>I am a Senior Housing and Care Expert and will manage all the moving parts for you, such as:</p>

<ul>
  <li>Helping your family make the right choice</li>
  <li>Understanding care pricing models</li>
  <li>Advising you on how to get the best price</li>
  <li>Scheduling tours</li>
  <li>Managing communications (keeps you from getting repeated sales calls from multiple Communities)</li>
  <li>Managing state-required forms for move-in</li>
  <li>Connecting you with any other resources you may require</li>
</ul>

<p>Our job is to be your free, expert personal assistant to enhance this complex and difficult decision, ensuring it is as successful and as smooth as possible.</p>


<p>Call me anytime. My cell phone is <%= formatted_phone(@cc.owner.phone) %>. I look forward to hearing back and continuing to serve you.</p>
