<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= raw(@cc.user_email_body) || render('body') %>
    <%=link_to "SEE YOUR CHOICE COLLECTION OF COMMUNITIES", @cc_link %>
    <%= raw(@cc.user_email_sig)  || render('sig') %>
  </body>
</html>