=simple_form_for [:admin, @tag] do |f|
  - if @tag.errors.any?
    #error_explanation
      h2= pluralize(@tag.errors.count, "error") 
      | prohibited this feature from being saved:
      ul
        - @tag.errors.full_messages.each do |message|
          li= message

  = f.input :name
  = f.input :kind, label: 'Select an Existing Category', collection: @tag_categories, selected: @tag.kind.try(:titleize)

  - unless @tag.id
    = f.input :new_kind, label: 'or Create a new Category'

  #tag_subcats_holder
    = render 'subcats'

  = f.submit 'Save'