/ just a hack to get at the formbuilder object easily
- f = nil
- simple_form_for [:admin, @tag] do |inner_f|
  - f = inner_f

- if @tag.id
  - if @tag_subcats && @tag_subcats.length > 0
    = f.input :group, label: 'Sub-category', hint: 'Optional, used for admin search.', collection: @tag_subcats
  - else
    = f.input :group, label: 'Sub-category', hint: 'Optional, used for admin search', input_html: { value: nil }