- if @suggestions.length > 0
  ul
    - @suggestions.each do |suggest|
      li
        a href="javascript:void(0)" data-suggestion=suggest[:name] data-kind=suggest[:kind] = "#{suggest[:name]} - #{(suggest[:kind] || '').titleize}"