.content_page
  h2 
    ' Create Community Features
    span.note 
      | Search for features or 
      = link_to 'Add a new feature', new_admin_tag_path, class: "add_tag"

  .section
    = check_box_tag 'foo', 'bar', true, disabled: true
    | = admin search quick picks (will show up first)

  .section#tag_checkbox_holder
    input name="authenticity_token" value=form_authenticity_token type="hidden"
    
    - for kind, tags in @tags_by_kind
      h4= kind.titleize
      - tags.group_by(&:group).each do |group_name, tags|
        h5= group_name
        ul
          - for tag in tags.sort_by(&:name)
            li
              - if current_user.admin?
                = check_box_tag "#{tag.kind}-#{tag.name}", admin_tag_path(tag), tag.admin_searchable, id: tag.id
              label for=tag.id = tag.name
              - if current_user.admin?
                span.link_edit_box
                  | &nbsp;-&nbsp;
                  = link_to 'Edit', edit_admin_tag_path(tag), class: 'link_edit'
