.content_page
  h1 We're Atlanta Experts
  p Assisted Choice Advisors live in Atlanta and know the region and care services well. They are professional Housing and Care Councilors, who are dedicated to the most important skill of all, listening.

  p Second most important thing we do is teach and educate, making sure that our clients are informed with powerful information and data, to make high quality care and housing choices.

  p Often the search for Senior Housing and Care comes at a diﬃcult and stressful time or crisis. Assisted Choice Advisors are just a phone call away, and always just a short drive away to bring you peace, conﬁdence and empowerment, at a time when things can seem overwhelming


  p Our commitment is simple. We are local and we stand ready to help and serve you in any way possible, by phone or in-person to make your search and transition as smooth as possible

  p You will be amazed at how friendly, knowledgeable and thoughtful our Advisors are.

  h2 We Save You Money

  p CARE/COST is the tricky part of understanding value and care. We are experts at guiding you through the single most important care and cost consideration you need to make: How to decide, based on your unique circumstance, what type of care pricing plan and which provider to choose to get the best of care at the most cost eﬀective pricing.

  p There are ﬁve types of pricing plans in the Atlanta market, and every plan is diﬀerent and without specialized knowledge and tools, nearly impossible to compare:

  ul

    li Service/Care charges all-inclusive
    li Service/Care charges all-inclusive multi-tie
    li Service/Care charges scaled by points
    li Service/Care charges ala carte
    li Service/Care charges outside contract

  p Choosing the correct plan of care with the correct provider is very confusing. We are experts at the complexities of these plan designs. Along with expert counsel, we have pricing and shopping tools that make choosing the correct plan easier.

  p Choosing the correct plan type and provider will save you thousand of dollars a year and provide a top quality care package.

  h2 We Educate

  p Our Expert Advisors will educate you. There is much to know and consider.

  p They will help you learn quickly:

  ul 

    li How to assess and understand your planning for care and cost
    li How to compare beneﬁts/cost from various provider
    li How to compare in-home care cost with senior housing and care
    li How to utilize our uniqued managed process to take charge of your search
    li How to bundle care services to achieve the best care at the lowest cost.
    li How to contract with outside vendors to lower your cost for certain services.
    li How to evaluate contractors that are required to provide certain outside services
    li Which care services by law that must be provided by outside health contractors.
    li How Veterans beneﬁts can provide up to $2,100 a month to help pay for your care.
    li How and what other government beneﬁts are available to pay for care.
    li How to qualify for federal tax beneﬁts to help pay for care.
    li How to use life insurance to pay for care.
    li How to use insured annuities to provide guaranteed lifetime income.
    li How to use home equity to get guaranteed lifetime income

  h2 Advocacy is our Passion. Caring for Families is our Promise.







