.content_page.admin


  h2 Recent Choice Collections
  p
    a href="/users" Create New
    / makes pop up saying "You need to pick a user to create a collection for" ok button and cancel button
  ul.admins_list
    li.level1
      a href="/" Michael's Choice Collection #1
      / takes you to search 
      ul.level2
        li
          a href="#" Rename
          / makes pop up with name field and a save button
        li
          a href="#" Delete
          / pop up confirm
    li.level1
      a href="/" Michael's Choice Collection #2
      ul.level2
        li
          a href="#" Rename
          / makes pop up with name field and a save button
        li
          a href="#" Delete
          / pop up confirm


  .clr



