<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      A user account has been created for you with Assisted Choice.
    </p>
    <p>
      <a href="http://assistedchoice.com<%=edit_user_password_path(reset_password_token: @raw_token) %>">Click here</a> to set your password and login to the site.
    </p>
  </body>
</html>