=simple_form_for [:admin, @community], html: {multipart: true} do |f|
  =f.input :image_kind, :as=>:hidden, :input_html=> {:value=>kind}
  =f.association :attachments, as: :file, :input_html => { :multiple => true }
  =f.submit

  -@community.attachments.where(:kind=>kind).order(:position).each do |photo|
    a href="javascript:void"
      =image_tag photo.attachment.url(:thumb)
    a href="javascript:void"
      ' <
    a href="javascript:void"
      ' >