= simple_form_for [:admin, @community], html: { multipart: true } do |f|
  p
    span.icon_back.sprite
    = link_to 'Back to Dashboard', admin_root_path
  h1.community_edit_title 
    | Edit Community
    /= link_to 'Save', community_path(@community), target: '_blank', class:'button btn_cta'
    = f.button :submit, value: 'Save', class: 'button btn_cta'
    - unless @community.id.blank?
      = link_to 'View Community', community_path(@community), target: '_blank', class:'button'

  - if @community.errors.any?
    #error_explanation
      h2= pluralize(@community.errors.count, "error") 
      | prohibited this community from being saved:
      ul
        - @community.errors.full_messages.each do |message|
          li= message

  .section
    .section
      = f.input :name, label: 'Community Name'
      = f.input :address
      = f.input :city
      = f.input :state_code, collection: State::MAP.keys, label: 'State', selected: 'GA'
      = f.input :zip, label: 'Zip Code', input_html: { maxlength: 5 }
      = f.input :internal_number, label: 'Actual Phone Number'
      = f.input :tracking_number, label: 'Tracking Phone Number'
      = f.input :fax_number
      = f.input :email, label: 'Contact Email(s)', hint: "Used for Choice Collection registrations. Can be colon separated for multiple addresses."
      = f.input :website
      = f.input :management_company

      = f.input :ranking, collection: [1,2,3,4,5], include_blank: false, hint: 'Used for default sort. 3 is default. Set to 4 or 5 to show higher, 0-2 to show lower.'
      = f.input :contract_status, collection: ["Contracted", "Out of Area", "Not Contracted", "Don't Approach", "Not Interested", "Provisional Contract"]  
      = f.input :invoicing_rating
            
      = f.input :availability
      = f.input :specials
      = f.input :va_bridge, label: 'VA Bridge'
      = f.input :is_live, label: 'Live'
      = f.input :is_snapshot, label: 'Snapshot'
       

  .section
    h2 Service/Care Charge Type
    .section
      = f.select :glossary_terms, [["Select a Service/Care Charge", nil]] + @care_charges.map {|x| [x.name, x.id] }, selected: @community.glossary_terms.where(kind: 'care charge').first.try(:id)

  #community_associations.section
    h2 Community Associations
    - if @community.id.blank?
      h4
        | Save this community to access the following:
      p
        strong = link_to 'Add/Edit Floorplans', 'javascript:void(0);', class: 'disabled'
      p
        strong = link_to 'Add/Edit Photos', 'javascript:void(0);', class: 'disabled'
      p
        strong = link_to 'Add/Edit Costs', 'javascript:void(0);', class: 'disabled'
      p
        strong = link_to 'Add/Edit Pet Policy', 'javascript:void(0);', class: 'disabled'
      p
        strong = link_to 'Add/Edit Food and Dining Info', 'javascript:void(0);', class: 'disabled'
      p
        strong = link_to 'Add/Edit Attachments', 'javascript:void(0);', class: 'disabled'
        |  - (Menu, Activity Calendar, etc.)

    - else
      p
        strong = link_to 'Add/Edit Floorplans', admin_community_floorplans_path(community_id: @community.slug)
        strong
          =" (#{@community.floorplans.count})"
      p
        strong = link_to 'Add/Edit Photos', admin_community_photos_path(community_id: @community.slug)
        strong
          =" (#{@community.attachments.count})"
      p
        strong = link_to 'Add/Edit Costs', admin_community_costs_path(community_id: @community.slug)
      p
        strong = link_to 'Add/Edit Pet Policy', admin_community_pet_policies_path(community_id: @community.slug)
      p
        strong = link_to 'Add/Edit Food and Dining Info', admin_community_community_dining_index_path(community_id: @community.slug)
      p
        strong = link_to 'Add/Edit Attachments', admin_community_attachments_path(community_id: @community.slug)
        |  - (Menu, Activity Calendar, etc.)

  

  - @tags_by_kind.each do |kind, tags|
    .section
      h2= kind.titleize
      -unless tags[0].group
        .multi_select
          .box
            - unselected_tags = tags.map {|x| [x.name, x.id ] unless @community_tag_ids.include?(x.id) }.compact
            - selected_tags   = tags.map {|x| [x.name, x.id ] if @community_tag_ids.include?(x.id) }.compact

            = f.select :unselected_tags, unselected_tags, {}, { multiple: true, size: 10, class: "#{kind.parameterize}_unselected" }
            

            .button_box
              = button_tag '>', type: :button, class: 'tag_picker_r btn_small', data: { for: kind.parameterize }
              br
              = button_tag '<', type: :button, class: 'tag_picker_l btn_small', data: { for: kind.parameterize }
          
            span.hint Hold Control (Command on Mac) to choose more than one at a time

          .box
            = f.select :tags, selected_tags, { selected: @community_tag_ids }, { multiple: true, size: 10, class: ["#{kind.parameterize}_selected", "selected_tags"] }

          .clr

      -else
        -tags.group_by {|tag| tag.group} .each do |group, tags|
          h4 =group
          .multi_select
            .box
              - unselected_tags = tags.map {|x| [x.name, x.id ] unless @community_tag_ids.include?(x.id) }.compact
              - selected_tags   = tags.map {|x| [x.name, x.id ] if @community_tag_ids.include?(x.id) }.compact

              = f.select :unselected_tags, unselected_tags, {}, { multiple: true, size: 10, class: "#{group.parameterize}_unselected" }
              

              .button_box
                = button_tag '>', type: :button, class: 'tag_picker_r btn_small', data: { for: group.parameterize }
                br
                = button_tag '<', type: :button, class: 'tag_picker_l btn_small', data: { for: group.parameterize }
            
              span.hint Hold Control (Command on Mac) to choose more than one at a time

            .box
              = f.select :tags, selected_tags, { selected: @community_tag_ids }, { multiple: true, size: 10, class: ["#{group.parameterize}_selected", "selected_tags"] }

            .clr


  

  .button_box
    = f.button :submit, value: 'Save', class: 'button btn_cta btn_large'
    a.button.btn_large href="/admin" Cancel