<div class="result published_{{:published}}" data-url="{{:url}}" id="{{:id}}" data-lat="{{:lat}}" data-lng="{{:lng}}">
  <span class="map_active_arrow">
    <span class="arrow_pointer"></span>
  </span>
  <span class="choice_box">
    <span class="icon_star sprite" style="display:none;" title="Add to Choice Collection" data-id={{:id}}></span>
  </span>
  <div class="box1">
    <div class="image_box">
      <a data-id="{{:id}}" class='admin_show' title="View Property Details" href='/admin/communities/{{:slug}}'>
        <img alt="nophoto" src="{{:hero_image}}" onerror="this.onerror=null; this.src='/images/nophoto.png'">
      </a>
    </div>
  </div>
  <div class="box2">
    <div class="category">{{:care_types}}</div>
    <div class="title">
      <a data-id="{{:id}}" class='admin_show' href='/admin/communities/{{:slug}}' title="View Property Details">{{:name}}</a>
      <span class="link_edit">
        <a href="/admin/communities/{{:slug}}/edit" title="Edit This Listing"> - Edit Listing</a>
      </span>
      <span class="link_edit">
        <a href="{{:url}}" target="_blank" title="View Public Version of this Page"> - Public View</a>
      </span>
    </div>

    <span class="address">
      <span class="address1">{{:address}}</span>
      <span class="seperator">&nbsp; - &nbsp;</span>
      <span class="address2">{{:address2}}</span>
    </span>
    <!---div class="cta_box">
      <span class="phone">{{:phone}}</span>  
      <span class="icon_notes sprite" style="display:none;" title="Add/Edit Notes" data-id={{:id}}></span>
      <! bring this back once admin roles are defined
      <a href="/admin/communities/{{:slug}}/edit" class="edit_box">
        <span class="icon_edit sprite" title="Edit This Listing"></span>
      </a>
    </div>-->
    <dl>
      <dt>Actual Phone:</dt><dd class="actual_phone">{{:internal_number}}</dd>  
      <dt>Contract Status:</dt><dd>{{:contract_status}}</dd>     
      <dt>MGMT Co.:</dt><dd>{{:management_company}}</dd>
      <dt>Specials:<span class="note">{{:specials_updated_at}}</span></dt><dd>{{:specials}}</dd>
      <dt>Assisted Living Starting At:</dt><dd>{{:assisted_living_starting_at}}</dd>
      <dt>IND Living Starting At:</dt><dd>{{:starting_at}}</dd>
      <dt>Memory Care Starting At:</dt><dd>{{:memory_care_starting_at}}</dd>
      <span class="clr"></span> 
    </dl>

    <div class="notes" style="display:none">
      <span class="lead_in small_text">
        <a class="read_more_notes highlighted" href="javascript:void(0)" id="notes_for_{{:id}}">
          <strong></strong>
        </a>
        <span class="display_block"></span>
        <br>
        <div style="height:10px"></div>
      </span>
    </div>

    <div class="hits">
      {{if mustHaveTags.length > 0}}
        <ul class="must_have">
          {{:mustHaveTags}}
        </ul>
      {{/if}}
      
      {{if niceToHaveTags.length > 0}}
        <ul class="nice_to_have">
          {{:niceToHaveTags}}
        </ul>
      {{/if}}
    </div>

    <div class="clr"></div>
  </div>
  <div class="clr"></div> 
</div> 