#search_box
  = simple_form_for :internal_search, url: search_admin_communities_path, html: { method: :post, id: 'admin_search_form' } do |f|
    #search_intro_box
      #intro_housing.search_intro.active Search by Location, Features, or Community Name
      #result_total_count
        a#total_count href="javascript:void(0);"= "View #{@results[:total_count]} Results"
        | &nbsp;-&nbsp;

        span
          a.link_refresh href=admin_communities_path Reset Search
    #search_field_holder.auto_complete_box 
      #search_field_box
        / autocomplete stuff
        = f.input :term, required: false, label: 'Location or Community name', input_html: { data: { url: autocomplete_communities_path }, autocomplete: "off", class: "auto_complete_in" }
        = f.input :kind, as: :hidden
        #internal_search_autocomplete.auto_complete_out 
    
    = f.input :limit, as: :hidden, input_html: { value: 100 }
    = f.input :lat, as: :hidden
    = f.input :lng, as: :hidden
    #search_options
      #options_address.options_group_box
        .address_search_intro Search by Address
        = f.input :address, required: false, input_html: { data: { url: admin_geolocations_path }, class: "auto_complete_in active_field" }
      input#geolocate class="btn button btn_cta geolocate_btn" name="geolocate" type="button" value="Locate"
        .clr
      #options_radius.options_group_box
        .box
          = f.input :radius, label: 'Radius (mi)', required: false, as: :select, collection: [5, 10, 20, 30, 40, 50, 100], selected: 10
      = render 'shared/price_options'
      #options_price_sort.options_group_box
        span.title Sort Order
        .options_group
          span.box
            label for="internal_search_sort" Sort By
            select id="internal_search_sort" name="internal_search[sort]"
               option value="distance" Distance
               option value="al_lth" Price AL Low to High
               option value="al_htl" Price AL High to Low
               option value="ind_lth" Price IL Low to High
               option value="ind_htl" Price IL High to Low
               option value="mc_lth" Price MC Low to High
               option value="mc_htl" Price MC High to Low
               option value="num_units" Num Units
               option value="specials_updated" Specials Updated Date

          .clr
      #search_legend
        span.checkbox_or 
        ' Nice to have
        span.checkbox_and 
        ' Must have
        .clr

      / admin searchable first
      
      .options_group_box.collapsable
        .title
          span.icon_expand.sprite
          | Quick Picks           
        #quick_picks_group.options_group.collapsable
          - @results[:facets].each do |kind, facets|
            - facets.group_by {|x| x['group'] }.each do |group_name, rows|
              - rows.sort_by {|x| x['name'] }.each do |x|
                - if x['admin_searchable']
                  .box
                    span.checkbox_or
                      = f.input "qp_#{x['term']}_or", label: false, as: :boolean, input_html: { id: "qp_internal_search_#{x['term']}_or", data: { for: "internal_search_#{x['term']}_or"} }
                    span.checkbox_and
                      - id = "internal_search_#{x['term']}"
                      - term = x['name'].titleize

                      - if group_name.blank?
                        - term = "#{kind.titleize} - #{term}"
                      - else
                        - term = "#{group_name.titleize} - #{term}"

                      = f.input "qp_#{x['term']}", label: false, as: :boolean, input_html: { id: "qp_#{id}", data: { for: id } }
                    label.admin_count for="qp_#{id}" = "#{term} (#{x['count']})"

      / all other tags
      - @results[:facets].each do |kind, facets|
        .options_group_box.collapsable
          .title
            span.icon_expand.sprite
            =kind.titleize
          .options_group.collapsable
            - facets.group_by {|x| x['group'] }.each do |group_name, rows|
              - unless group_name.nil?
                .subtitle
                  span.icon_expand.sprite
                  = group_name.titleize
              div class=(group_name.nil? ? '' : 'options_sub_group')
                - rows.sort_by {|x| x['name'] }.each do |x|
                  .box
                    span.checkbox_or
                      = f.input "#{x['term']}_or", label: false, as: :boolean, input_html: { id: "internal_search_#{x['term']}_or" }
                    span.checkbox_and
                      - id = "internal_search_#{x['term']}"
                      = f.input x['term'], label: false, as: :boolean, input_html: { id: id }
                    label.admin_count for=id = "#{x['name']} (#{x['count']})"

      