#results_box.box1
  = render 'admin/communities/search_box'
  script#result_tmpl type="text/html"
    = render 'admin/communities/result'
     
  #results_holder
    #results_controls
      / #result_total_count
      /   span#total_count= "#{@results[:total_count]} Results"
      /   | &nbsp;-&nbsp;

      /   span
      /     a href=admin_communities_path Start Over

  #details_holder

  #results
  = render 'shared/spinner'    
.box2#map_holder
  #map_canvas data-url=map_search_communities_path(format: :json)
