#details_box class=(request.xhr? ? '' : 'active')
  #details_top_holder
    #details_top
      = link_to '', 'javascript:void(0);', id: 'close_admin_details',class: 'close_details icon_close_dark sprite' if request.xhr?
      p.category = @search_result.care_types.join(', ')
      h2=@community.name
      .box1
        .address
          p.address1 =@community.address
          p.address2 =get_location_string(@search_result)
          span.phone 
            = @community.internal_number
          .clr
      .box2
        - if @search_result.starting_at.to_i != 0
          p.price              
            ="Starting at #{cost(@search_result.starting_at)}"
            span.small_text 
              | /mo.
          p.care_formula 
            - if @care_charge
              ' Service/Care Charges:
              = @care_charge.name
        
          /.note Actual Phone Number
      .clr
  #details

    #details_content
      div 
      - if @choice_collection
        #notes
        - unless @advocate_notes.blank?
          .section#advocate_notes
            h4
              span.highlighted Advocate Notes
              | &nbsp;
              =link_to "Add Note", "javascript:void(0)", class: "add_note_link highlighted choice_collection_note small_text", id: @ccc.id, title: "Add Note for this Property"

            - @advocate_notes.each do |note|
              - if fname = note.admin.first_name
                p.small_text
                  ' Added by
                  strong
                    span=fname

              span.highlighted.js_time= note.created_at.to_i
              p= note.body

        - unless @user_notes.blank?
          .section
            h4
              span.highlighted User Notes

            - @user_notes.each do |note|
              - if fname = note.user.first_name
                p.small_text
                  ' Added by
                  strong
                    span=fname

              span.highlighted.js_time= note.created_at.to_i
              p= note.body

      div
        h4 Contact Info
        dl 
          dt Actual Phone Number:
          dd = @community.internal_number
        
          dt Tracking Phone Number: 
          dd = @community.tracking_number

          dt Fax Number:
          dd = @community.fax_number

          dt Contact Email Adddress:
          dd = @community.email

          dt Website:
          dd = @community.website
 
          dt Management Company:
          dd = @community.management_company

        h4 General Info

        dl 
          dt Care Types:
          dd = @search_result.care_types.join(', ') 

          dt Number of Units:
          dd = @community.number_of_units
       
          dt VA Bridge:
          dd = @community.va_bridge

      
        h4 Specials
        p = @community.specials
        p.note.js_time
          = @community.specials_updated_at.to_i

        h4 Status
        dl 
          dt Snapshot
          dd = @community.is_snapshot

          dt Live
          dd = @community.is_live

          dt Contract Status
          dd= @community.contract_status

          dt Invoicing Rating
          dd = @community.invoicing_rating


        - unless @floorplans.blank? and @care_charge.blank?
          .section id=(@floorplans.blank? ? nil : 'floorplans')
            div id=(@floorplans.blank? ? nil : 'floorplans_header')
              .box1
                - unless @floorplans.blank?
                  h3 
                    span Floorplans 

              .box2
                - if @search_result.starting_at.to_i != 0
                  p.price              
                    ="Starting at #{cost(@search_result.starting_at)}"
                    span.small_text 
                      | /mo.
                  p.care_formula 
                    - if @care_charge
                      ' Service/Care Charges:
                      = @care_charge.name
              .clr
            - unless @floorplans.blank?
              -@floorplans.group_by(&:care_type).each do |care_type, fplans|
                .floorplan_divider= "#{care_type.try(:name)} Floor Plans"
                - fplans.each do |fp|
                  = render "communities/floorplan", floorplan: fp

        = render 'communities/inner_costs'     
        .section
          = render 'communities/pets'

        = render 'communities/inner_menu'
        .section
          - for kind, tags in @community.tags.group_by {|x| x.kind }
            h4= kind.titleize
            - tags.group_by(&:group).each do |group_name, tags|
              h5= group_name
              ul
                - for tag in tags.sort_by(&:name)
                  li
                    label for=tag.id = tag.name
        .section
          h4 Attachments
          ul
            - @pdfs.each do |pdf|
              li= link_to pdf.internal_name, pdf.pdf.url

