<div class="content_page">
	
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <h2>Log in</h2>

		<% if flash && flash[:alert] %>
		  <div id="error_explanation">
		  	<h2>Error logging in</h2>
		  	<ul>
		  		<li>
						<%= flash[:alert] %>
					</li>
				</ul>
			</div>
		<% end %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email %></div>

	  <div><%= f.label :password %><br />
	    <%= f.password_field :password, autocomplete: "off" %></div>

	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  <% end -%>

	  <div class="text_align_center button_box"><%= f.submit "Log In" ,:class => "btn_cta btn_large" %></div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>
