= simple_form_for [:admin, @community, @other_service] do |f|
  = f.input :name
  = f.input :monthly_cost
  = f.input :included_in_rent

  = f.submit 'Save', class: 'button btn_cta btn_large'
  = link_to 'Cancel', admin_community_costs_path(@community), class: 'button btn_large'

