.content_page.community_edit
  h1 Saved Searches

  

  ul#saved_searches
    - for search in @searches
      li
        strong= link_to search.name, search_path(search), class: 'collection_name'
        ' 
        span 
          ' &nbsp;-&nbsp;saved
          span.js_time= search.created_at.to_i
        span
          ' &nbsp;-&nbsp;
          = link_to 'Delete', search_path(search), 'data-method' => :delete, 'data-confirm' => 'Are you sure?'
  p
    a.button href="/" Start a New Search
          