.content_page.community_edit
  #choice_collections_list
    h1 
      | My Choice Collections
    h2
      a.button href="/admin/users/" Create New
    ul
      - for cc in @choice_collections
  	    li
          = link_to cc.name, choice_collection_path(cc), class: 'collection_name', target: '_blank', title: 'View this Choice Collection as a User'
          ' 
          span 
           ' &nbsp;for
          span
            = link_to "#{cc.user.first_name} #{cc.user.last_name}", admin_user_path(cc.user), title: "View User Profile", class: 'collection_user'
            '
          span
            | &nbsp; - &nbsp;
            -if cc.sent
              ' Sent on
              span.js_time=cc.sent_on.to_i
            -else
              ' Edited on
              span.js_time=cc.updated_at.to_i
          span.break_box
            | &nbsp; - &nbsp;
            / = link_to 'Delete', admin_choice_collections_path, method: :delete, 'data-confirm' => 'Are you sure you want to delete this Choice Collection?', :title=>'Delete this Choice Collection'
            /| &nbsp; | &nbsp;
            = link_to 'Edit', edit_admin_choice_collection_path(cc), title: 'Add, Remove Properties'
            | &nbsp; | &nbsp;
            = link_to 'Review & Send', admin_choice_collection_path(cc), title: 'Review & Send this Choice Collection to the User'