#choice_collection_list.content_page
  -if @sent
    .message 
      p 
        ' You have sent the following choice collection to 
        strong=@choice_collection.user.email
      .clr
  h1
    =@choice_collection.name
    span.choice_collection_links.break_box
        | &nbsp; - &nbsp;
        =link_to "Rename", "javascript:void(0)", class: "edit_cc_name", title: "Rename this Choice Collection",'data-name' => @choice_collection.name
        | &nbsp; | &nbsp;
        = link_to 'Edit', edit_admin_choice_collection_path(@choice_collection), title: 'Add, Remove Properties'
        | &nbsp; | &nbsp;
        = link_to 'Preview', choice_collection_path(@choice_collection), target: '_blank', title: "View choice collection as the user would see it"
  p.choice_collection_subtitle 
    ' A Choice Collection for
    = link_to "#{@choice_collection.user.first_name} #{@choice_collection.user.last_name}", admin_user_path(@choice_collection.user), :title=>"View User Profile"

  -@choice_collection.choice_collection_communities.each do |cccomm|
    .section
      h2 
        =link_to cccomm.community.name, community_path(cccomm.community), :target=>"_blank", :title=>"View this Choice Collection as a User"
      p.edit_links
        =link_to "Add Note", "javascript:void(0)", :class=>"choice_collection_note", :id=>cccomm.id, :title=>"Add Note for this Property"
        |&nbsp; | &nbsp;
        =link_to "Remove Property", admin_choice_collection_community_path(cccomm, :community_id=>cccomm.community.id),method: :delete, 'data-confirm' => 'Are you sure you want to remove this property from the Choice Collection?', :remote=>true, :class=>"remove_community",:title=>"Delete this Property from Choice Collection"
      p.note
        strong
          p.highlighted
            | Advocate Notes:&nbsp;
        -cccomm.notes.order("created_at desc").each do |note|
          p.note_added_by 
            =note.created_at.strftime("%m/%d/%Y")
            ' &nbsp;-
            = link_to 'Delete', note_path(note, choice_collection_id: params[:id]), method: :delete, 'data-confirm' => 'Delete this note?'
          p.note
            =note.try(:body)
          

      p.note
        strong
          p.highlighted.note_user_name
            =@choice_collection.user.name_or_email
            |'s Notes:&nbsp;
        -@choice_collection.user.notes.where(admin_id: nil).where(:community_id=>cccomm.community_id).order("created_at desc").each do |note|
          p.note_added_by =note.created_at.strftime("%m/%d/%Y")
          p.note
            =note.try(:body)
              
      p.registrations
        strong
          | Registrations Delivered To:&nbsp;
        =cccomm.community.email || "No Contact E-mail Available"
      


  = simple_form_for [:admin, @choice_collection], :url=>admin_choice_collection_path(@choice_collection), :method=>:patch do |f|
    .section
      h2 
        | Edit Details
      = f.input :advocate_user_id, collection: User.where("role IN (1, 2)").map {|x| [x.name_or_email, x.id ]}, label: 'Send From', include_blank: false, selected: @choice_collection.advocate_user_id || current_user.id
      = f.input :personal_message, label: '* Personal Message', input_html: { class: 'redactor' }
      = f.submit 'Save Message', class: 'button btn_cta'

    .section
      h2 Edit User Email
      = f.input :user_email_subject, label: 'User Email Subject'
      = f.input :user_email_body, label: 'User Email Body', input_html: { class: 'redactor' }
      = f.input :user_email_sig, label: 'User Email Signature', input_html: { class: 'redactor' }
      = f.submit 'Save User Email', class: 'button btn_cta'

    /.section
      /h2
      /  | Edit Community Registration Email
      = f.input :comm_email_subject, label: 'Community email subject', as: :hidden
      = f.input :comm_email_body, label: 'Community email body', as: :hidden
      = f.input :comm_email_sig, label: 'Community email signature', as: :hidden
      /= f.submit 'Save Registration Email', class: 'button btn_cta'

    .button_box.text_align_center
      = f.submit 'Send & Register', class: 'button btn_cta', name: 'deliver[deliver]'
      / a.button.btn_cta href='#{@choice_collection.id}/deliver' title='Send Choice Collection via Email and Register' Send & Register
      | &nbsp; &nbsp;
      span.break_box
        / a.button href='#{@choice_collection.id}/deliver?collection_only=true' title='Send Choice Collection via Email to the User without Registering at these Properties' 
        = f.submit 'Send to User Only', name: 'deliver[collection_only]'
        | &nbsp; &nbsp;
        = f.submit 'Register Only', name: 'deliver[registration_only]'
        / a.button href='#{@choice_collection.id}/deliver?registration_only=true' title='Register User at these Properties without Sending Choice Collection to the User' Register Only
     
  .clr

javascript:
  $(function(){
    setTimeout(function(){
      $('.redactor_btn_italic, .redactor_btn_deleted, .redactor_separator, .redactor_btn_image, .redactor_btn_video, .redactor_btn_table').hide();
      $('.redactor_box').find('p').each(function(){
        if ( $(this).text() == '' )
          $(this).remove()
      });
    }, 1000);
  });
  