<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>A user has signed up for assistedchoice.com</p>
    <p><%= @user.first_name %> <%= @user.last_name %></p>
    <p><%= @user.email %></p>
    <p><%= formatted_phone(@user.phone) %></p>
    <p><%= link_to "View the user's profile", "www.assistedchoice.com/admin/users/#{@user.id}" %></p> 
  </body>
</html>