<p>We have presented your community as a great option in meeting the specific needs of our client, <%=@cc.user.first_name%> <%=@cc.user.last_name%>.</p>

<p>Given this client's specific needs, we have advised that they give thoughtful consideration to selecting {{community name will go here}} over other alternatives. </p>

<p>We have encouraged a tour of your community and will reach out to you with further details regarding our next steps</p> 