<p>Thank you for your continued partnership,</p>
<p><%= @current_user.first_name %> <%= @current_user.last_name %></p>
<p><%= @current_user.email %></p>
<p><%= formatted_phone @current_user.phone %> Direct</p>