<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= raw(@modified_body)      || render('body') %>
    <%= raw(@cc.comm_email_sig)  || render('sig') %>
  </body>
</html>
