@import 'colors';
/* SMALL FIRST */
/* ADMIN */
#admin_dashboard h2 { margin:0 0 15px; }

.admin .section { padding:40px 0; }
.admin h2 .note { font-size:14px; display:block; padding:5px 0 0;color:#1a1a1a;}
.admin h1 { margin:0 0 32px; font-weight:600; }
.admin h2 { margin:0 0 32px;}
.admin .admin_search_field { display:inline-block; }

.admin #header { background:#eee; }

.admin #search_field_holder { padding:0; margin:0; }
.admin #search_field_box div { margin:0; padding:0; }
.admin #search_field_box label ,.admin #options_address label { display:none; }

/* danger dev styles */
.admin #options_address { width: 70%; margin-bottom: 35px; }
.admin #geolocate { margin-top: -26px !important; }
.admin .internal_search_radius { padding-top: 10px; }
/* danger dev styles */

.admin #internal_search_autocomplete { padding:0; margin:0; }
.admin #options_radius label {float: none;margin: 0 4px 0 0;}
.admin #options_radius .box { margin:0; }

.community_edit form .disabled { color: gray; }
.community_edit form div { margin:0 0 25px; }

.address_search_intro { margin:0 0 6px; font-size:12px;}
.internal_search_address { padding:0;} 


/* CHOICE COLLECTIONS */
#header .headline .collection_name,#header .headline .collection_user_name { font-weight:600; }
#header .headline .collection_user_name { text-transform:capitalize; }
#header .headline .choice_collection_links { font-size:12px; }
#choice_collection_list .button_box { border-top:1px solid $grey3; padding:30px 0 0 ;}
#choice_collection_list .edit_links { margin:0; font-size:12px; }
#choice_collection_list h1 { margin:0 0 10px; }
#choice_collection_list h1 .choice_collection_links { font-size: 12px; font-weight:normal; }
#choice_collection_list h2 { margin: 0 0 15px; }
#choice_collection_list .section { padding:20px 0; }
#choice_collection_list .message { margin:0 0 25px; }
#choice_collection_list .button { margin:0 0 15px; }
#choice_collection_list .note_added_by { margin:0 0 3px; font-size:12px; color:$grey4; }
#choice_collection_list .note_user_name { text-transform: capitalize; }

.choice_collection_subtitle { margin:0 0 40px; }
.choice_collection_subtitle a { font-weight:600;text-transform:capitalize;  }
#edit_cc_note_popup textarea { height:150px; }






/* USER SEARCH */

#user_search { border:none; padding:0 0 40px; }
#user_search input[type=submit].btn_cta{ border-radius:0; }

#user_results li { ; border-bottom:1px solid $grey3; margin:0;}
#user_results li a { font-weight:600; text-transform: capitalize; display:block; padding:20px 0;}
#user_results li .user_email { font-weight:normal; text-transform: none; color: #1a1a1a;}
#user_results li .user_phone { font-weight:normal; color: #1a1a1a; }
#user_results .break_box { width:100%; display:block; margin:0 0 3px; }

#user_profile dl { margin:0 0 15px; }
#user_profile dt { width:20%; display:inline-block; margin:0 0 15px; float:left; clear:both;line-height:20px; }
#user_profile dd { width:70%; display:inline-block; margin:0 0 15px; font-weight:600; white-space: nowrap; overflow: hidden; text-overflow: ellipsis ;float:left; line-height:20px; }
#user_profile .user_name { text-transform:capitalize; }
#choice_collections_list  { padding:20px 0 ; }
#choice_collections_list h4 { margin:0 0 30px; }
#choice_collections_list li { margin:0 0 20px; font-size:12px; line-height:24px; }
#choice_collections_list li .collection_name { font-weight:600; text-transform: capitalize; font-size:16px; }
#choice_collections_list h2 { font-size:24px; }
#choice_collections_list .collection_user { font-weight:600; text-transform: capitalize;}
#choice_collection_list form { width:100%; }
#choice_collection_community_note {min-height:225px;}

/* COMMUNITY SEARCH */
.result.published_false { background:$grey2; }
.checkbox_or { float:left; background:$color3; border-radius:2px 0 0 2px; }
.checkbox_and { background:$color1;display: inline-block;float: left; margin:0 5px 0 0;border-radius:0 2px 2px 0;  }
.checkbox_and div { display:inline; }
#search_options .checkbox_or input { margin:3px; }
#search_options .checkbox_and input { margin:3px; }

#search_legend { font-size:12px; position:relative; margin:0 0 25px;}
#search_legend .checkbox_or ,#search_legend .checkbox_and { height:14px;width:14px; float:none; border-radius:2px; display:inline-block; position:relative; bottom:-3px; margin:0 5px 0 0;}
#search_legend .checkbox_and { margin:0 5px 0 15px; }

.admin_communities #search_options input {  }
.admin_communities form div { padding:0; }
.admin_communities #search_options label { margin:0; }
.admin_communities #search_options .subtitle { cursor:pointer; }

.admin_communities #result_total_count { position:absolute;padding:0;margin:0; right:22px; top:0; font-size:14px; }
#result_total_count .link_refresh { font-weight:normal; font-size:12px; }

.options_group_box.collapsable .options_group {  display:none ;border:none; padding:0 0 0 20px; }
.options_group.collapsable .options_sub_group {  display:none; }

.options_group_box.collapsable  { border-top:1px solid $grey2; margin:0; }
#search_options .options_group_box.collapsable .title { padding:15px 0 ; margin:0; cursor:pointer; font-size:20px;}
.options_group_box.collapsable .options_group .options_group { margin:0 0 15px; }

#show_all_link_box { display:block; padding:20px 20px 90px; text-align:center;  }

/* RESULTS */
.admin_communities .result { padding-bottom:10px; }
.admin_communities .result .box1 { width:20%; padding:10px 0 0 10px;}
.admin_communities .result .box2 { width:80%; }
.admin_communities .result dl { font-size:13px; margin:0 0 15px; }
.admin_communities .result dt { display:inline-block; float:left; width:30%; clear:both; margin:0 0 15px;}
.admin_communities .result dd { display:inline-block; float:left; width:70%; margin:0 0 15px; font-weight:600;}
.admin_communities .result dt .note { display:block; font-size:11px;}
.admin_communities .result .link_details { font-weight:600; }
.admin_communities .result .choice_box { bottom:auto;top:0; }
.admin_communities .result .link_edit a { font-size:12px; color:$color1; font-weight:normal;}


.admin_communities .hits { text-transform:capitalize; }
.admin_communities .hits li {  font-size:12px;  color:#fff; }
.admin_communities .hits li::after {  }

.admin_communities .result .must_have { background: $color1;padding: 8px 5px 5px;border-radius: 4px;}
.admin_communities .result .must_have li {  }

.admin_communities .result .nice_to_have { background: $color3;padding: 8px 8px 5px;border-radius: 4px;}
.admin_communities .result .nice_to_have li { color:#1a1a1a; }

.admin_communities .result .notes { margin:0; }

/* DETAILS */
.admin_communities #details_box .section { padding:0 0 20px;  }
.admin_communities #details_top .price { padding: 10px 0 0;font-size: 20px; margin:0; }
.admin_communities #details h4 { margin:0 0 20px; }
.admin_communities #details #floorplans.section { margin:0 0 30px; }


/* TAGS PAGE */
#feature_search_box { margin:0 0 30px; width:100%; }
#feature_search_box .auto_complete_out ul { right:0;left:0; }
#feature_search_box .auto_complete_in:focus {box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1)}
#category_selector { padding:20px 0 0;  } 
#category_selector label { font-size:16px; display:inline-block; margin:0 10px 0 0;}
#category_selector select { display:inline-block; font-size:16px; margin:0 15px 30px 0;}
#category_selector #tag_subcategories { margin:0 15px 5px 0; }
#category_selector .button_box { padding:20px 0 0 0; margin:0; }

#tag_checkbox_holder li:hover .link_edit_box { opacity:1; }
#tag_checkbox_holder .link_edit_box { font-size:12px; opacity:0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear; }


/* COMMUNITY FORM */
.community_edit_title { position:relative; }
.community_edit .community_edit_title .button { position: relative;font-weight: normal;margin: 0 0 0 15px;bottom: 5px;}
#create_floorplan_box .break_box { width:100%; }
#create_floorplan_box .break_box div { width:50%; display:inline-block; padding:0 10px 0 0;}
.community_edit #floorplans.section { border-bottom:1px solid $grey3; }
.community_edit #floorplans .floorplan_box { border-top:1px dashed $grey3; }
.floorplans_list { border-bottom:1px dashed $grey3; }

.community_edit .section { border-top:none; border-bottom:1px solid $grey3; margin:0 0 40px; padding:0 0 30px; }
.community_edit .section .section { margin:0 0 30px; border:none; padding:0; }
.community_edit .section li { width:100%; }
.community_edit .button { margin:0 15px 0 0; }
.link_remove { font-size:11px; }
.link_remove:hover {text-decoration:underline;}
.add_item_box .field_box {  width:80%; display:inline-block;}
.add_item_box .add_item_button_box { width:20%;display:inline-block; padding:0 0 0 10px; }

.admins_list li { width:auto; margin:0 20px 0 0 ; }
.admins_list .level1 { font-weight:600; font-size:16px; padding:10px 0 0 ; width:100%; }
.admins_list .level2 { padding:5px 0 0 0; }
.admins_list .level2 li { display:inline-block; font-weight:normal; font-size:12px; width:auto;}

.admin .multi_select { padding:0; margin:0; }
.multi_select .box { width:50%; float:left; padding:0 40px 0 0; position:relative;}
.multi_select select { width:100%; border-color :$grey3; height:300px;}
.multi_select select option {  font-family: 'Raleway', sans-serif; padding:3px 8px;}
.multi_select select:-internal-list-box option:checked { background:green; }
.multi_select .button_box { position:absolute;right:8px;top:50%; margin:-48px 0 0; padding:0; }
.multi_select button { cursor:pointer; margin:0 0 10px;}

#community_associations strong { font-size:16px; }

/* IMAGES PAGE */
#current_photos_section { padding:0; }

#image_list li { display:inline-block; width:25%; padding:0 10px 0 0 ; margin:0;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    transition: background 0.2s linear;
    }
#image_list li:hover { background:#fff; }

#image_list .photo_controls { padding:10px 0 5px; display:block; clear:both; text-align:center; position:relative; opacity:0;
	-webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    }
#image_list li:hover .photo_controls { opacity:1; }

#image_list .photo_number { display:inline-block; padding:0 10px; line-height:20px; font-size:16px; position: relative; top:-4px;}

#image_list .image_box {border: 1px solid $grey1; display: block; padding:3px;
    -webkit-transition: border-color 0.2s linear;
    -moz-transition: border-color 0.2s linear;
    -o-transition: border-color 0.2s linear;
    -ms-transition: border-color 0.2s linear;
    transition: border-color 0.2s linear;
    }
#image_list .image_box:hover { border-color:$grey3; }

#image_list .icon_arrow_west,#image_list .icon_arrow_east { cursor:pointer; opacity:.2;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    }
#image_list .icon_arrow_west:hover,#image_list .icon_arrow_east:hover { opacity:1; } 

.image_box .icon_delete { background-color:rgba(0,0,0,.7); position:absolute; top:3px; right:3px; opacity:0; cursor:pointer;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;

 }

.image_box:hover .icon_delete { opacity:.5; }
.image_box .icon_delete:hover  { opacity:1; }


/* ATTACHMENTS PAGE */
#attachment_upload select { display:inline; margin:0 10px; position:relative; }
#attachment_list strong { font-size:16px; }

/* DINING FORM */
.admin form .link_delete { margin:0 10px; }

/* COSTS PAGE */
#costs_page h2 { position:relative;}
#costs_page h2 .button { bottom:5px; position:relative; margin:0 5px;}
#costs_page .section { padding:0; }

.costs_list li { border-top:1px solid $grey3; padding:10px 0 0; }
.costs_list li li { border-top:none; }
.costs_list .cost_title strong { font-size:20px; }

/* FLOORPLAN PAGE */

/*danger dev styles*/
#edit_floorplan input[type="file"], #edit_headshot input[type="file"] { position: relative;top: auto;bottom: auto;left: auto;right: auto;opacity: 1;width: 100%;background: #fff;}
#edit_headshot img { max-width: 200px; display: block; padding-bottom: 10px; }
/*danger dev styles*/

#edit_floorplan .image_box { width:200px; }
#floorplans_list .floorplan_title { display:block; }
#floorplans_list li { border-top:1px solid $grey3; padding:10px 0 0;  margin:0 20px 0 0 ; }
#floorplans_list li li { border-top:none;display:inline-block; }
#floorplans_list .floorplan_title  strong { font-size:20px; }
#floorplans_list .image_box { width:60px; float:right; }


/* SEARCH PAGE */
.admin #search_options { display:none; } 
.admin_results #page_box{ overflow:hidden; }

/* REPORT PAGE */
.report_page .box { width:33%; float:left; display:inline-block; font-size:12px;}
.report_page .box strong { font-size:14px; }
.report_page #user_results li a { color:#1a1a1a; font-weight:normal; line-height:20px; }
.report_page #user_results .break_box { width:100%; }
.report_page #user_results li .user_phone { text-align:left; font-weight:600; font-size:14px;}
.report_page #user_results li .user_name { font-weight:600; color:$color1; font-size:16px; }
.report_page .box.collection_status { font-weight:600; font-size:14px; }
.report_page .box.collection_status .collection_sent { color:$color4; }
.report_page .box.collection_status .no_collection_sent { color:red; }

 

/* ALMOST MICRO */
@media (min-width: 500px) {
    #category_selector select { margin:0 20px 0 0; }
    #category_selector #tag_subcategories { margin:0 20px 0 0; }
  }


/* ALL BUT SMALL */
@media (min-width: 768px) {
	#create_floorplan_box .break_box {  }
    #user_results .break_box { width:32%; display:inline-block; }
    #user_results li .user_phone { text-align:right; }
    #user_profile dd {font-size:16px;}
    #user_profile dt { width:10%; }
    

 }

/* MEDIUM */
@media (min-width: 768px) and (max-width: 1024px) {

 }

/* LARGE */
@media (min-width: 1025px) {


 }

/* XLARGE */
@media (min-width: 1280px) {
	#feature_search_box { width:70%; }

 }

/* XXLARGE */
@media (min-width: 1440px) {

 }

#total_count { display: inline; border-radius: 5px; }

.flashy{
  -moz-animation: flash 0.2s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 0.2s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 0.2s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#FFFF9C;}        
    100% {background-color:none;}
}

@-moz-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#FFFF9C;}        
    100% {background-color:none;}
}

@-ms-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#FFFF9C;}        
    100% {background-color:none;}
}
