@import 'colors';

/* SMALL FIRST */

#dashboard h1 { text-transform: capitalize; }
#dashboard h1 .small_links { font-size:13px; margin:0 0 0 10px; }
#dashboard .section { margin:10px 0 0 ; padding:25px 0; }
#dashboard .section li { width:100%; margin:0 0 25px; }
#dashboard h2 { margin:0 0 5px; }
#dashboard h2 .note { font-size: 14px; display: block; padding: 5px 0 0; color: #1a1a1a;}

#advocate_contact_msg { margin:0 0 20px;}
#advocate_contact_msg #cc_signature p { margin:0 0 10px;}
#advocate_contact_msg .box1 { width:20%; float:left; clear:both;}

#comments_box { padding:20px 0 0 0; }
#comments p { margin:0 0 5px; }
#comments .comment_title { font-weight:600; margin:0; }
#comments .comment_title .time_stamp { font-size:12px; color:$grey4; font-weight:normal; }
.comment { margin:0 0 20px; }

#saved_searches li { margin:0 0 25px; }

/* ALL BUT SMALL */
@media (min-width: 768px) {

 }

/* MEDIUM */
@media (min-width: 768px) and (max-width: 1024px) {

 }

/* LARGE */
@media (min-width: 1025px) {

 }

/* XLARGE */
@media (min-width: 1280px) {

 }

/* XXLARGE */
@media (min-width: 1440px) {

 }