@import 'colors';
/* SMALL FIRST */

/* DETAILS */

#details_box { position:absolute; top:0; left:-100%; width:100%; ; background:#fff; border-right:1px solid $grey3; border-bottom:1px solid #d0d0d0;  z-index:20;overflow-y:scroll; -webkit-overflow-scrolling: touch;
	-webkit-transition: left 0.1s linear;
	-moz-transition: left 0.1s linear;
	-o-transition: left 0.1s linear;
	-ms-transition: left 0.1s linear;
}

#details_box.active { left:0%; }
#details_box .phone { font-size:18px; display:inline-block; }

#details_tabs { background:$grey1; padding:0 0 0 40px; box-shadow:0 2px 1px rgba(0, 0, 0, 0.1); border-top:1px solid $grey2; bottom:-2px; position:relative; z-index: 10; display:none; clear:both;}
#details_tabs p { display:inline-block; line-height: 30px; margin:0; font-size:12px; font-weight:600;}
#details_tabs a { margin:0 18px 0 0; color:#1a1a1a; }
#details h3 { padding:40px 0 0;margin:0; }
#details h4 { padding:20px 0 0 ;margin:0 0 10px; }

#details {  position:relative; padding:0 0 200px; clear:both; border-top: 1px solid $grey3; -webkit-overflow-scrolling: touch;}
#details.section { padding:0 0 15px; }
.small_screen #details { height:auto !important; }

#details_top { background:#fff; padding:12px 20px 10px; position:relative; }
#details_top .close_details { position:absolute; right:8px;top:8px; opacity:.25; cursor:pointer;
	-webkit-transition: opacity 0.1s linear;
	-moz-transition: opacity 0.1s linear;
	-o-transition: opacity 0.1s linear;
	-ms-transition: opacity 0.1s linear;
}

#details_top .close_details:hover { opacity:1; }
#details_top .box1 { width:100%; } 
#details_top .box2 { width:100%; } 

#details_top h2 { font-size:20px; margin:0 0 10px; font-weight:600; }
#details_top .category {color: $grey4; font-size:9px; margin:0 0 10px; text-transform:uppercase; }
#details_top .address { margin:0; }
#details_top .address p{ font-size:11px; line-height:15px; margin:0;}
#details_top .cta_box { padding:0 ; display:none; }
#details_top .cta_box .icon_notes { }
#details_top .cta_box .favorite_box { right: 32px }
#details_top .cta_box .icon_email { right: 70px }
#details_top .cta_box .box2 { width:100%; }
#details_top .address .link_check_availability  { border:1px solid $grey3; text-decoration: none; display: inline-block; padding:5px; border-radius:3px; text-align:center;margin:5px 0 0 10px ; font-weight:600; font-size:13px; cursor:pointer; }
#details_top .address .icon_expand { display:none; }
#details_top .favorite_box { bottom:5px;right:5px; }


#details_image img { width:100%; }

#details_image_box { position:relative; }

#details_content { padding:0 20px 40px; position:relative; }

#details_content .title { font-size:28px; margin:0; padding: 10px 0; } 

#details_content ul { width:92%; }
#details_content dl { margin:0 0 15px; width:92%; }
#details_content dt { display:inline-block; width:50%; margin:0 0 10px; float:left; clear:both; }
#details_content dd { display:inline-block; width:50%; margin:0 0 10px; float:left; font-weight:600; }
#details_content dl::after ,
#details_content dd::after{ clear:both; display:block; content:""; }
#details_content .note { font-weight:normal; font-size:11px; }

#notes.notes_box.section { padding:0; }
.notes_box.section { border-top:none; padding:20px 0 0; border-radius:4px; }
.notes_box .small_text, #advocate_notes .small_text { font-size:12px; }
.notes_box h4 { padding:0;margin:0 0 15px;}
#details .notes_box h4 { padding:0;margin:0 0 15px;}
.notes_box .my_notes_title {  margin:0 10px 0 0; text-transform: capitalize; }
.notes_box .add_note_link {font-size: 12px; font-weight: normal; margin-left: -10px; color:$color4; }
.notes_box .add_note_link.solo { margin:0 0 15px -10px; display:block; }
.notes_box .note_added_by { margin:0 0 3px; font-size:12px; color:$grey4; }
.notes_box .note_added_by strong { color:#1a1a1a;text-transform: capitalize; }

#details .add_note_link .icon_notes { position: relative; bottom: -7px; right: auto; background-position:-395px -142px;}
.lead_in .highlighted{color:$color4 !important;}
.highlighted{color:$color4 !important;}

#floorplans .floorplan_box { clear:both; padding:10px 0; border-top:1px solid $grey3; margin:0;}
#floorplans .floorplan_box img { max-height:40px; width:auto; max-width:100%;}
#floorplans dl { font-size:13px; margin:0 0 10px; line-height:16px; width:100%; }
#floorplans dt { width:auto; display:inline-block; margin:0 5px 0 0; float:none;} 
#floorplans dd { width:auto; display:inline-block; margin:0; font-weight:600; float:none;}
#floorplans .box1 { width:8%; float:right; }
#floorplans .box2 { width:92%; padding:0 15px 0 0 ; float:left; }
#floorplans .title { font-size:12px; margin:0 0 10px ; padding:0; font-weight:600; }
#floorplans p { font-size:11px; margin:0; }
#floorplans h3 { padding:0; margin:0 0 10px; }
#floorplans .care_formula { font-size:11px; margin:0; line-height:12px; }
#floorplans.section { border:none; }
#floorplans_header { padding:10px 0 0; position:relative; min-height:48px;}
#floorplans_header .box1 { width:35%; float:left; }
#floorplans_header .box2 { width:65%; text-align:right; float:left; padding: 0; margin:0 0 10px; position:absolute; right:0; bottom:0;}
#floorplans_header .price { margin:0 ; font-size:16px; }
.floorplan_divider { background:$grey1; clear:both; padding:5px 5px; font-size:12px;}
.floorplan_box .box1 { padding:20px 0 0; }
.fp_info_box {display:inline-block;width:50%;}

#fp_photo_popup img { max-width:80%; margin: 20px 0 0; max-height:65vh; }

#care_charge_popup .popup { max-width: 600px; }

.contact_bottom { padding:20px 0 0; text-align:center; }
.contact_blurb { display:block; line-height:32px; font-size:20px; margin: 0 10px 0 0; }

#description .description { margin:0 0 15px; line-height:20px; font-size:14px; } 
#description .description h2 { font-size:14px; font-weight: 600; }
#description .description li { width:100%; }

.meals_per_day {padding:20px 0 0}

/* ALL BUT MICRO*/
@media (min-width: 400px) {

  .floorplan_box .box1 { padding:15px 0 0 ; }

 }

/* ALL BUT SMALL */
@media (min-width: 768px) {
  #details { overflow-y:scroll; padding: 0 0 400px;}
  #details_box { top:0; overflow-y:visible; } 
  #details_top { padding:12px 40px 10px; }	
  #details_top .category { font-size:11px; margin:0 0 18px;}
  #details_top .box1 { width:40%; } 
  #details_top .box2 { width:60%; padding:0 0 0 20px;}
  #details_top .phone { padding:5px 0 0 ; font-size:22px; }
  #details_top .cta_box { display:block; }
  #details_top .cta_box .icon_notes {  }
  #details_top .box1 .address .link_check_availability { display:none; }

    
  #details_tabs { display:block; }

  #floorplans_header .price { padding:10px 0 0; font-size:20px; }
  #floorplans .care_formula { font-size:12px;  }
  #floorplans .title { font-size:16px;}
  #floorplans dl { font-size:14px; }
  
  #details_content { padding:0 40px 40px;}

 }

/* MEDIUM */
@media (min-width: 768px) and (max-width: 1024px) {
	
 }

/* LARGE */
@media (min-width: 1025px) {
	.contact_blurb { display:inline-block; }
	#details_top .address p { font-size:14px; line-height:20px;} 
    #details_top h2 { font-size:24px;}

 }

/* XLARGE */
@media (min-width: 1280px) {
	#details_box .phone { font-size:22px; }
  #floorplans_header .box1 { width:50%; }
  #floorplans_header .box2 { width:50%; }
  #floorplans h3 { padding:25px 0 0 0; }

 }

/* XXLARGE */
@media (min-width: 1440px) {

 }