@import 'colors';

/* SMALL FIRST */
#header { background:#fff; height:60px; position:absolute; top:0; right:0; left:0; box-shadow:0 1px 1px rgba(0,0,0,.1); z-index:100; text-align:center; }

.communities #header { position:absolute; }

#logo { width:190px; height:34px; display:inline-block; position:relative; top:14px; background-position:0 -44px; }
#cc_logo { width:190px; height:34px; display:inline-block; position:relative; top:14px; background-position:0 -44px; }

#header .headline {  display:none; position: absolute;top: 24px; padding: 0 0 0 20px; right: 300px; left: 300px; text-align: center; font-size: 11px; line-height:20px; }
#header .phone { color:$color1; padding: 10px 0 0; float:none; margin:0; font-weight: 600; line-height:20px; font-size:22px; }

#nav  { position:absolute; right:auto; top:0; font-size:18px; margin:0; cursor:pointer; }
#nav.active { width:100%; }
#nav li { margin:0; }
#nav a { display:block; padding:0 10px; }
#nav .nav_level1 { line-height:60px; text-align:left;  }

#nav.active .nav_level1 a { background:$color1; color:#fff; }
#nav .nav_level1 a { width:auto; background:$grey1; color:$color1; font-size:14px; width:auto; }
#nav.active .nav_level2 { right:0; }

#nav .link_text { display:none; }

.nav_level2 { display:none; }
.active .nav_level2 { display:block; }

#nav .nav_level2 { position:absolute;line-height:40px; text-align:left; margin:0; left:0;right:0; top:60px; }
#nav .nav_level2 a, #nav.active .nav_level2 a { width:100%; background:$color2; font-size:14px; margin:0 0 -2px; color:#fff;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

#nav .nav_level2 a.active,#nav.active .nav_level2 a.active { background:$color1;}

#login_links { position: absolute; right: 70px; top: 42px; display:none; font-size:11px;}
#login_links li { display:inline-block; margin:0 20px 0 0 ;}

.logged_out #login_links .logged_in { display:none; }
.logged_in #login_links .logged_out { display:none; }
.logged_out #login_links .logged_out { display:inline-block; }
.logged_in #login_links .logged_in { display:inline-block; }

#map_switch { display:block ;position:absolute; right:0 ;top:0; font-size:14px; line-height:60px; right:10px;}

/* ALL BUT SMALL */
@media (min-width: 768px) {
  #header .headline {  }
  #logo { width:274px; height:44px; left:20px; background-position:0 0; top:20px; }
  #header { height:90px; text-align:left; position:fixed; }

  #nav { right:0; }
  #nav a { padding:0 20px;}
  #nav.active { width:inherit; }
  #nav .nav_level1 a  { font-size:18px;
      -webkit-transition: background-color 0.2s linear,color 0.2s linear;
      -moz-transition: background-color 0.2s linear,color 0.2s linear;
      -o-transition: background-color 0.2s linear,color 0.2s linear;
      -ms-transition: background-color 0.2s linear,color 0.2s linear;
      transition: background-color 0.2s linear,color 0.2s linear;
  }
  #nav .nav_level2 a  { font-size:14px; }
  #nav .nav_level1 { line-height:90px; text-align:right; }
  #nav .nav_level2 { display:block; left:auto; right:-200px; width:180px; top:90px;
      -webkit-transition: right 0.1s linear;
      -moz-transition: right 0.1s linear;
      -o-transition: right 0.1s linear;
      -ms-transition: right 0.1s linear;}

  #nav .login_link_box { display:none; }
  #login_links { display:block; }

  #map_switch { display:none; }
  }
   

/* MEDIUM */
@media (min-width: 768px) and (max-width: 1024px) {

 }

/* LARGE */
@media (min-width: 1024px) {
  #header .headline { font-size:12px;display:block; }
  #header .phone { font-size:15px; }

 }

 @media (min-width: 1110px) {
  #login_links { font-size:14px }
 }


 @media (min-width: 1240px) {
  #header .headline { font-size:17px;display:block; }
  #header .phone { font-size:16px; }

 }

 @media (min-width: 1355px) {
  #header .headline { font-size:20px;display:block; top:16px; line-height:28px;}
  #header .phone { font-size:22px; }

 }

/* XLARGE */
@media (min-width: 1440px) {

 }