/* SMALL FIRST */




/* ALL BUT SMALL */
@media (min-width: 768px) {

 }

/* MEDIUM */
@media (min-width: 768px) and (max-width: 1024px) {

 }

/* LARGE */
@media (min-width: 1025px) {

 }

/* XLARGE */
@media (min-width: 1280px) {

 }

/* XXLARGE */
@media (min-width: 1440px) {

 }