@import 'colors';
/* SMALL FIRST */

/* POPUPS */
.popup_box { display:none; background-color:rgba(0,0,0,0.4); -webkit-animation: fadein .2s; }
.popup .icon_close,.popup .icon_close_dark { position:absolute; top:15px; right:15px; cursor:pointer;}

.small_screen .popup_box { background:#fff; }
.small_screen .popup { padding:40px 20px 20px; }

.big_screen .popup_box { position:fixed; top:0; right:0; left:0; max-width:100%; z-index:1000; }
.big_screen .popup { position:absolute; background:#fff; border:1px solid $grey5; padding:40px; min-width:500px; box-shadow:0 2px 14px rgba(0, 0, 0, 0.2); max-width:90%;}

#check_availability_form .popup{ width:100%; }
#note_body { min-height: 200px; }

/* FORMS */
.content_page form ,.content_page .form_content { width:80%; margin:0 auto;  }
.content_page.community_edit form { width:100%; }

input,textarea { border:1px solid $grey3; box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.1); display:block; width:100%; padding: 10px;font-size: 14px; border-color:$grey3;font-family: 'Raleway', sans-serif;}
select { font-size: 16px; display:block;}

input[type="checkbox"],input[type=radio] { border:none; display: inline-block; width:auto;}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {-webkit-appearance: none;}
textarea { max-width:100%; }

input:focus ,textarea:focus{ outline: none; border-color:$color1;box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-transition: box-shadow 0.5s linear;
    -moz-transition: box-shadow 0.5s linear;
    -o-transition: box-shadow 0.5s linear;
    -ms-transition: box-shadow 0.5s linear;
    transition: box-shadow 0.5s linear;
}

.file_upload_box { position:relative; display:inline-block; height:40px; overflow:hidden;cursor:pointer; margin:0 !important; }
.file_upload_box label { display:none ;}
input[type="file"] { position:absolute; right:0;top:0;left:0;bottom:0; opacity:0; width:200%; cursor:pointer;-webkit-appearance: none;}

form label { display:inline-block; margin:0 0 3px ; color:$grey5;}
form i { font-size:12px; color:$grey5; }

form .redactor_text i { font-size: 15px;}
form .redactor_text b, form .redactor_text strong { font-weight: 600 !important; }
form .section .redactor_toolbar li, form .section li { width: auto; display: block; }

form div { margin:0 0 15px ; }
form .text_align_center { padding: 20px 0 0 ; }
.button_box { margin:0 0 40px; }
.form_links { line-height:40px; }
.form_links a { white-space: nowrap; }

.new_user #error_explanation { display:block !important; }
#error_explanation { display:none !important; background:#fff; border:1px solid $grey3; padding:10px 10px 0;}
#error_explanation h2 { font-size:16px; font-weight:600; color:red; }

.set_pass_msg { margin:0 0 40px;}
.set_pass_msg h1 { text-transform: capitalize; }

.field_with_errors {position:relative; padding:0; margin:0 ;}
.field_with_errors label { color:red; font-weight:600;  }
.field_with_errors .required { border-color:red; }
.field_with_errors .error { display:block;padding:2px 0 0; font-size:12px; position:absolute;top:0; right:12px; text-align:right; color:red; }

.hint { font-size:12px; display:block; padding: 5px 0 0; color:$grey4; }

#phone_section .phone_number { font-size:18px; }

/* PERSONAL MESSAGE */
#personal_message .popup { max-width: 50%; }
.small_screen #personal_message .popup { max-width: 100%; }
#personal_message h2 { margin:10px 0 25px; }
#personal_message .box1 { width:20%; float:left; clear:both;}
#cc_signature { float:left; width:80%; padding:0 0 0 20px; }
#cc_signature p { font-size:17px; }
#cc_signature .email_address { font-size:13px; }
#cc_message_holder { margin:0 0 25px;}
#cc_message_holder b { color:$color4; }
#personal_message .button_box { margin:0; }
#cc_headshot { border:5px solid #fff; box-shadow:4px 5px 13px #ccc;position: relative;
    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}
#cc_logo_box { text-align:center; }


/* BUTTONS */

.button, .btn, input[type=submit], button { display:inline-block; padding:10px 15px; border:1px solid $grey3; font-size:14px; width:auto; text-align:center; text-decoration:none; border-radius: 3px; cursor:pointer; box-shadow:none; -webkit-appearance: none; background:#fff; color:$color1;}
.button:hover, .btn:hover, input[type=submit]:hover, button:hover { }

.btn_cta, .btn,input[type=submit].btn_cta,input[type=submit].btn { background:$color1; border-color:$color2; color:#fff; }
.btn_large, .btn, input[type=submit].btn_large,input[type=submit].btn_large { font-size:20px; padding:10px 30px; line-height:24px;} 
.btn_small, .btn, input[type=submit].btn_small { font-size:14px; padding:10px 5px; line-height:14px;} 
.btn_micro, input[type=submit].btn_micro { font-size:12px; padding:5px 5px; line-height:12px;} 

#choice_collection_list textarea { min-height: 200px; }
#choice_collection_list #choice_collection_user_email_sig, #choice_collection_list #choice_collection_comm_email_sig { min-height: 140px; }

/* ALL BUT SMALL */
@media (min-width: 768px) {

  #check_availability_form .popup { width:500px; }

  .lead_first_name, 
  .lead_last_name,
  .lead_email,
  .lead_phone { width:50%; display:inline-block; }

  #check_availability_form form { margin-right:-10px; }
  form div { padding:0 10px 0 0 ; }

  .content_page form ,.content_page .form_content { width:50%;}
  #personal_message .box1 { width:15%; }
  #cc_message{ width:85%; }
  #cc_signature p  { margin:0; }
  #cc_logo_box { text-align:right; }

  #advocate_contact_msg .box1 { width:10%; }

 }

/* MEDIUM */
@media (min-width: 768px) and (max-width: 1024px) {

 }

/* LARGE */
@media (min-width: 1025px) {

 }

/* XLARGE */
@media (min-width: 1280px) {

 }

/* XXLARGE */
@media (min-width: 1440px) {

 }