@import 'colors';
/* SMALL FIRST */
#results_holder { position:absolute; left:0;right:0; }
#results {  border-right:1px solid #d0d0d0; overflow-y:scroll; bottom:0;} 
#results.list_view { width:60%; margin:0 auto; padding:40px 0 0 ; height:auto !important; border-left:1px solid $grey3; }
#results.list_view h1 { padding:0 20px 10px; border-bottom:1px solid $grey3; margin:0;}

#results_controls { padding:0 20px; position:relative; background:$grey1; z-index:10; height:40px; box-shadow:0 2px 1px rgba(0, 0, 0, 0.1); border-right:1px solid $grey3;}
#result_total_count { font-weight:600; font-size:12px; line-height:40px; padding:0 10px 0 0 ; color:#1a1a1a;}
#result_total_count .break_box { display:none; }

#user_save_search { font-size:12px; }
#user_save_search .break_box { display:none; }

.sort_control { position:absolute; right:0; top:0; line-height:38px; }
.favorites .sort_control, .choice_collections .sort_control { display:none; }
.sort_label { display:inline-block; margin:1px 5px 0 0; font-size:13px; color:#1a1a1a; position:absolute; right:105px; top:0; white-space:nowrap; text-align:right; font-size:12px; }
#sort_box { display:inline-block; width:100px; }
#sort_box li { margin:0; }
#sort_box a { color:$color1; display:block;line-height:40px; padding:0 20px; font-size:12px;}
#sort_box .sort_level1 a { background:$grey1;
    -webkit-transition: background-color 0.2s linear,color 0.2s linear;
    -moz-transition: background-color 0.2s linear,color 0.2s linear;
    -o-transition: background-color 0.2s linear,color 0.2s linear;
    -ms-transition: background-color 0.2s linear,color 0.2s linear;
    transition: background-color 0.2s linear,color 0.2s linear;}

#sort_box.active .sort_level1 a { background:$color1; color:#fff; }
#sort_box .sort_level2 { display:none; }
#sort_box.active .sort_level2 { display:block; }
#sort_box .sort_level2 a,#sort_box.active .sort_level2 a { background:$color2; color:#fff; }
#sort_box .sort_level2 a.active { background:$color1;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear; }

#infinite_scrolling .pagination{ text-align:center; line-height:60px; }
#infinite_scrolling em, #infinite_scrolling a { margin:0 5px; }


/* ALL BUT SMALL */
@media (min-width: 768px) {
    #result_total_count .break_box { display:inline; }
    #results_holder { position:static; }
    #user_save_search .break_box { display:inline; }

 }

/* MEDIUM */
@media (min-width: 768px) and (max-width: 1024px) {

 }

/* LARGE */
@media (min-width: 1025px) {

 }

/* XLARGE */
@media (min-width: 1440px) {

 }