@import 'colors';
/* SMALL FIRST */
.result { border-bottom:1px solid #d0d0d0; position:relative; padding: 30px 8px 0; background:#fff; } 
.result .box1 { width:25%; float:left; margin:0 0 8px;}
.result .box2 { padding:0 0 10px 10px; background:none; width:75%; float:left; }

.result .category {  color: $grey4;font-size: 9px;text-transform: uppercase;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;position: absolute;left: 8px;top: 11px; right: 48px;}
.result .title { font-size:15px; line-height:20px;color:$color1; margin:0 0 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-weight:600;} 
.result .title a { color:#1a1a1a; }
.result .price {padding: 10px 0 0 ; font-size:14px; }
.result .address { font-size:11px; display:block; margin:0 0 10px; }
.result .address1, .result .address2 { display:block; margin:0 0 3px;}
.result .address .seperator { display:none; }

.result .link_details { display:none; font-size:12px; } 
.result .phone { position:relative;line-height:32px; display:block; margin:0; }

.cta_box { display:block; width:100%; }
.cta_box .box  { display:inline-block; }
.cta_box .link_schedule_tour { display:none; }
.cta_box .link_price_estimate { display:none; }
.cta_box .icon_expand { display:none; }

.cta_box .box2 .link_check_availability,#details_top .address .link_check_availability  { border:1px solid $grey3; text-decoration: none; display: inline-block; padding:5px; border-radius:3px; text-align:center;margin:5px 0 0 10px ; font-weight:600; }

.map_active_arrow { opacity:0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear; }
.map_active .map_active_arrow { opacity:1; right:0;  position:absolute; top:0; bottom:0; width:3px; background:$color1;}

.map_active_arrow .arrow_pointer { position:absolute; left:-8px; top:50%; display:block; width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-right:10px solid $color1; margin: -10px 0 0 ;}

.result .notes { padding: 0 20px 10px 0px ;clear:both;font-size:12px;  }
.result .notes p { }
.result .view_detail_notes { position:relative; display:inline-block; color:$color4;}
.result .icon_notes { position:relative; top:auto; right: auto; bottom:-10px; background-position: -547px -111px}
.result .link_notes_big { display:none; }
.result .link_notes_small { display:inline-block; }



/* MICRO*/
@media (max-width: 400px) {

  /*.result .title { margin:-4px 0 5px; } */
  .result .icon_email { top:-9px; }
  .result .cta_box .link_check_availability { font-size: 11px; }
  .result .phone { font-size:14px; }
  

 }


/* ALL BUT SMALL */
@media (min-width: 768px) {

	.result { padding:8px; }
	.result .box1 { width:40%;margin:0; }
  .result .box2 { width:60%; }
  .result .cta_box .box  { display:block; width:49%; }
  .cta_box .box2 .link_schedule_tour { display:inline-block; }
  .cta_box .box2 .link_price_estimate { display:inline-block; }
  .result .category { position:static; margin:0 0 5px; }
	.result .title { line-height:25px; }
  .result .address { margin:0 0 15px; }
  .cta_box .icon_expand  { display:inline-block; }
  .result .phone {padding: 15px 0 0 ;} 
  .cta_box .box2 .link_check_availability { border:none; text-decoration: underline; display: inline-block; padding:0; border-radius:0;margin:0; text-align:left; font-weight:400; margin:0 0 10px;}
  .result .link_notes_big { display:inline-block; }
  .result .link_notes_small { display:none; }
  .result .notes { padding: 0 20px 5px 0px ; }

 }

/* MEDIUM */
@media (min-width: 768px) and (max-width: 1024px) {
  
 }

/* UPPER MEDIUM */
@media (min-width: 860px) and (max-width: 1024px) {

	.result .title { font-size:17px; line-height:29px; }
	.result .link_details { display:block; }
	.cta_box { margin:0 0 5px; }
  
 }

/* LARGE */
@media (min-width: 1025px) {

  .result .box1 { width:45%; }
  .result .box2 { width:55%; }
  .result .link_details { display:block; }
  .result .title { font-size:19px; line-height:29px; }
  .cta_box { margin:0 0 5px; }
  .result .notes { padding: 0 20px 15px 0px ;}

 }

 /* XLARGE */
@media (min-width: 1280px) {

	.result { padding:0; } 
  .result .box2 { padding: 15px 20px 5px 15px; }
  .result .title { line-height:29px; }
  .result .phone {  font-size:22px; }
  .result .icon_email { top:0; }
  .result .category { font-size:11px; }
  .result .address { font-size:12px; display:block; }
  .cta_box .box { width: 55%; }
  .cta_box .box2 { width: 45%; }
  .result .notes { padding: 0 20px 15px 5px ;}

 }

/* XXLARGE */
@media (min-width: 1440px) {

  .result .title { margin:0 0 10px; line-height:33px;}   
  .result .address { font-size:14px; }
  

 }

