@import 'colors';
/* SMALL FIRST */

#search_box  { position:relative;top:0;right:0;left:0; z-index:20; background:#fff; color:#1a1a1a; border-bottom:1px solid $grey3;
	-webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
}
#search_box.active  { height:auto; background:#fff; position:absolute;}


/* TABS */
.tabs { margin:0; display:block; font-size:13px; }
.tabs li { display:inline-block; width:33.33333% ; text-align:center;border-right:1px solid $grey3;border-bottom:1px solid $grey3;margin:0;}
.tabs a { display:block; padding:10px; color:#1a1a1a; background:$grey1; font-weight:600;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
}
.tabs a:hover { color:$color1; background:#fff; }
.tabs .active { border-bottom:1px solid #fff; }
.tabs .active a,
.tabs .active a:hover { color:$color1;background:#fff; }


.auto_complete_box { position:relative; margin:0; padding:0;}
#search_field_box { padding:0 20px 15px;margin:0;border-right:1px solid $grey3;} 
#search_field_box input { background:$grey1; }
#search_field_box input:focus { background:#fff; }

#search_intro_box { padding:15px 20px 10px; margin:0;border-right:1px solid $grey3; position:relative; }
.search_intro { display:none; font-size:10px; margin:0; white-space: nowrap;}
.search_intro.active { display:block;}

.active .auto_complete_in { width:100%; background-color:#fff; border-color:$grey3; color:#1a1a1a; }

#search_options { background:#fff; padding:10px 20px; display:none; color:#1a1a1a; border-bottom:1px solid $grey4;border-right:1px solid $grey3; margin:0; position:absolute;left:0; right:0;}
.active #search_options {  display:block; overflow-y: auto;}

#search_options .title { display:block; margin:0 0 15px; font-size:18px;  }
#search_options .box { font-size:12px; display:inline-block; width:100%; margin:0 0 15px; }
#search_options .button_box { margin:0 0 15px; }
#search_options .button_box .box { width:50%; margin:0;}
#search_options input { display:inline-block; float:left; margin:3px 5px 0 0; }
#search_options #btn_search { float: none; }
#search_options label { display:inline-block; float:left; line-height:19px;}

#options_price label, #options_price_sort label { float:none; margin:0 4px 0 0; }

#options_price .box,
#options_beds .box,
#options_pets .box { width:50%; }

.search_type { margin:0 0 32px; font-size:13px; }
.options_box { margin:0; }
.options_group_box { margin:0 0 10px; padding:5px 0 0;}
.options_group { border-bottom:1px solid #eee; margin:0; }
.search_bottom_links a{ line-height:40px; margin:0 15px 0 0; font-size:11px; }

.call_for_help { display:block;padding:5px 0 0; text-align:center; line-height:24px; border-top:1px solid $grey2; font-size:16px; margin:0; }
.call_for_help .phone { font-size:20px; }
.call_for_help .break_box { margin:0 3px; }

#advanced_search_box {padding:10px 0 0;}

.auto_complete_in { height:34px;  font-size:14px; border-radius:5px; display:inline-block;
}

.auto_complete_in.active_field { text-indent:0;background-image: none; border-color:$color1; box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0), 1px 1px 3px rgba(0, 0, 0, 0.2) }

.auto_complete_out { padding:0; margin:0; }
.auto_complete_out ul {position:absolute; left:20px; right:21px; background:#fff; border:1px solid $color1; border-top:none; top: 30px; box-shadow:1px 1px 3px rgba(0, 0, 0, 0.2); z-index:30;}

.auto_complete_out ul{ }
.auto_complete_out li { margin:0;  }
.auto_complete_out li a { text-decoration:none; display:block; padding:10px;}
.auto_complete_out li a.active,.admin .auto_complete_out li a:hover { background:$color1; color:#fff;
    -webkit-transition: background 0.2s linear,color 0.2s linear;
    -moz-transition: background 0.2s linear,color 0.2s linear;
    -o-transition: background 0.2s linear,color 0.2s linear;
    -ms-transition: background 0.2s linear,color 0.2s linear;
    transition: background 0.2s linear,color 0.2s linear;
 }

 /* Placeholders consistency */
.auto_complete_in::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color:$grey4; }
.auto_complete_in:-moz-placeholder, textarea:-moz-placeholder { color:$grey4; }
.auto_complete_in:-ms-input-placeholder, textarea:-ms-input-placeholder { color: $grey4; }

.active .auto_complete_in::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color:$grey4; }
.active .auto_complete_in:-moz-placeholder, textarea:-moz-placeholder { color: $grey4; }
.active .auto_complete_in:-ms-input-placeholder, textarea:-ms-input-placeholder { color: $grey4; }


/* MICRO */
@media (min-width: 400px) {
  .tabs { font-size:11px; }
  .search_intro { font-size:12px; }
  }

/* ALL BUT SMALL */
@media (min-width: 768px) {
  .call_for_help { font-size:20px; line-height:40px; }
  .call_for_help .phone { font-size:30px; }
  #search_box { position:relative; top:auto; right:auto;left:auto; }
  #search_box.active {position:relative;top:auto;}
  #search_options .box { width:50%; margin:0 0 10px; }
  #search_options .title { margin:0 0 10px; }
  #options_price .box,
  #options_beds .box,
  #options_pets .box { width:33%; }
  .search_bottom_links a { font-size:14px;margin:0 20px 0 0 }
 }

/* MEDIUM */
@media (min-width: 768px) and (max-width: 1024px) {

 }

/* LARGE */
@media (min-width: 1025px) {


 }

/* XLARGE */
@media (min-width: 1280px) {


 }

/* XXLARGE */
@media (min-width: 1440px) {

 }