@import 'colors';
/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {	display: block;}
body {line-height: 1;}
ol, ul {	list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {	content: '';	content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.construction { display:none !important; }

.logged_out .logged_in { display:none; }
.logged_in .logged_out { display:none; }
.logged_out .logged_out { display:inherit; }
.logged_in .logged_in { display:inherit; }

.sprite { background-image:image-url("sprite-hd.png"); background-size:300px; }

html { }
body { background:#fafafa; }
body { font-family: 'Raleway', sans-serif; color:#1a1a1a; position:relative; z-index:0; }

h1 { font-size:24px; margin:0 0 15px; }
h2 { font-size:22px; margin:0 0 15px; }
h3 { font-size:20px; margin:0 0 25px; padding: 30px 0 0 ; font-weight:700;}
h4 { font-size:14px; margin:0 0 15px; font-weight:600; }
h5 { font-size:12px; margin:0 0 15px; font-weight:600; }

ul { margin:0 0 15px; font-size:14px;}
dl { font-size:14px; }
li { margin:0 0 5px;}
p { margin:0 0 15px; line-height:20px; font-size:14px; }
a { color:$color1; text-decoration:none; }
strong { font-weight:600; }

.text_align_center { text-align:center; }
.text_align_left { text-align:left; }
.text_align_right { text-align:right; }
.clr { clear:both; margin:0; display:block;}
.hidden { display:none; }
.float_right { float:right; }

.break_box { white-space: nowrap; display:inline-block; }

* { box-sizing:border-box }

#page_box { position:relative; overflow:auto;-webkit-overflow-scrolling: touch }
.communities #page_box { overflow: hidden; }
.pages #page_box,
.registrations #page_box ,
.sessions #page_box,
.passwords #page_box,
.dashboard #page_box { width:auto !important; }
.admin_users #page_box { width:auto !important; }
/*.small_screen #page_box,.small_screen #results,.small_screen #details { height:auto !important; overflow: visible; }*/

body.big_screen #special_margin { padding-bottom: 600px; }

#page { position:relative; top:60px; right:0;left:0 ; }
#map_holder { display:none; }  

.box1 { width:100%; position:relative; }
.box2 { width:100%; }

.section { border-top:1px solid $grey3; clear:both; }
.section.borderless { border:none; }
.content_page { padding:30px 20px; width:100%; margin: 0 auto; position:relative; min-height:90vh; }
.content_page ul { margin:0 0 15px; }
.content_page li { margin:0 0 10px; }

.image_box { position:relative; }
.image_box img { width:100%; float:left; }

#footer { background:#333; }

body .SnapABug_Button { left:auto !important ;right:0 !important ;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);

 }

 .-snapengage-tab { left: auto !important;right: -33px; }

/* SHARED PROPERTY STUFF */
.phone {  font-size:15px; color: $color1 ; line-height:32px; white-space: nowrap; font-weight:600;}
.price { display:block; margin:0 0 7px;   font-weight:600; font-size:14px; }
.cta_box { position: relative; padding: 0; display: block; margin:0; } 
.cta_box .box { display:inline-block; float:left; width:auto; } 
.cta_box .box2 { margin:0;padding:0; }
.cta_box a { display:block; cursor:pointer; }
.cta_box .box2 a { font-size:14px; position:relative; font-weight:400; text-decoration:underline; margin:0 0 10px; }
.cta_box .box2 .icon_expand { position:relative; bottom:-3px; }

.icon_notes { position:absolute; bottom:8px;right:48px; }

.price .small_text { font-size: 12px;font-weight:normal; }
.care_formula { font-size:12px; display:block; margin:0 0 5px; }

.favorite_box {  display:block; height:32px; position:absolute; width:32px; right:3px; bottom:0;  }
.choice_box {  display:block; height:32px; position:absolute; width:32px; right:3px; bottom:8px; }
.edit_box {  display:block; height:32px; position:absolute; width:32px; right:0; top:-10px;  }


/* ICONS */
.icon_menu { height:24px; width:24px; display:inline-block; background-position: -106px -112px; position:relative;top:5px; }
.active .icon_menu { background-position:-161px -112px; }

.icon_close { height:24px; width:24px; display:block; background-position:0 -77px;}

.icon_close_dark { height:24px; width:24px; display:block; background-position:0 -110px;}

.icon_search { height: 24px;width:24px; display:inline-block; background-position: -51px -77px; top:6px; position:relative;}

.icon_favorite { height:32px; width:32px; display:inline-block; background-position:5px -146px; position:relative; cursor:pointer; }
.saved .icon_favorite { background-position:-46px -146px; }

.icon_star { height:32px; width:32px; display:inline-block; background-position:-151px -147px; top:6px; position:relative; cursor:pointer; }
.choice .icon_star { background-position:-202px -147px; }

.icon_edit { height:32px; width:32px; display:inline-block; background-position:-247px -147px; top:6px; position:relative; cursor:pointer; }

.icon_email { height:32px; width:32px; display:inline-block; background-position:-48px -108px; cursor:pointer; }

.icon_notes { height:32px; width:32px; display:inline-block; background-position:-399px -145px; cursor:pointer; z-index:1; }
.noted .icon_notes { background-position:-547px -111px; }

.arrow_right { cursor:pointer; margin:-25px 0 0 ; position:absolute; top:50%; right:10px; opacity:.5; height:50px; width:26px; background-position:-129px -179px; z-index: 10; }

.arrow_left { cursor: pointer; margin:-25px 0 0; position:absolute; top:50%; left:10px; opacity:.5; height:50px; width:26px; background-position:-104px -179px; z-index: 10; }

.arrow_left:hover ,.arrow_right:hover { opacity:.8; }

/*.swiper-container {
  width: 100%;
}*/

.icon_arrow_east { width: 0; display:inline-block; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 10px solid #1a1a1a; }

.icon_arrow_west { width: 0; display:inline-block;height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-right: 10px solid #1a1a1a; }

.link_tooltip { background:#fff; position:absolute; right: -40px; top:40px;line-height:23px;width:25px;text-align:center; display:block; border-radius: 20px; color:$color1; font-weight:600; border: 1px solid $grey3;
}

.icon_delete  { height: 24px;width:24px; display:inline-block; background-position: -101px -76px; }

.icon_back { height: 13px; width: 11px; display: inline-block; background-position: -207px -123px; cursor: pointer; }

.icon_expand { display:inline-block; height:14px;width:14px; background-position: -219px -124px; margin:0 4px 0 0; }
.active_options .icon_expand { background-position:-206px -108px }

.active_options .subtitle .icon_expand {background-position: -219px -124px;}
.active_options .subtitle.active_options .icon_expand { background-position:-206px -108px }

/* ALL BUT MICRO */
@media (min-width: 400px) {
  .phone { font-size:18px; } 

}


/* ALL BUT SMALL */
@media (min-width: 768px) {
  
  #page { top:90px }
  .content_page { padding:60px 30px; width:80%; margin: 0 auto; }

  h1 { font-size:32px; }
  h2 { font-size:28px;}
  h3 { font-size:24px; margin:0 0 25px; }
  h4 { font-size:20px; }
  h5 { font-size:16px; }

  #map_holder { display:block; }
	.section li { width:50%; display:inline-block; }
  .phone { font-size:18px; }

  .arrow_right {  margin:-40px 0 0;  height:80px; width:48px; background-position: -47px -179px;}

  .arrow_left {  margin:-40px 0 0;   height:80px; width:48px; background-position: -1px -179px;}

 }

/* MEDIUM */
@media (min-width: 768px) and (max-width: 1024px) {
  
	.box1 { float:left; width:65%; }
  .box2 { float:left; width:35%; }

 }

 /* UPPER MEDIUM */
@media (min-width: 860px) and (max-width: 1024px) {
  .box1 { float:left; width:60%; }
  .box2 { float:left; width:40%; }
  
 }

/* LARGE */
@media (min-width: 1025px) {

  .box1 { float:left; width:55%; }
  .box2 { float:left; width:45%; }

 }

 /* XLARGE */
@media (min-width: 1280px) {
  .box1 { float:left; width:50%; }
  .box2 { float:left; width:50%; }
  .phone {  font-size:22px; line-height:32px;}
  .icon_email {top: 0};
  .favorite_box {  }
  .choice_box {  }
  .edit_box { top:-4px; }

 }

/* XXLARGE */
@media (min-width: 1440px) {
/*
  .box1 { float:left; width:45%; }
  .box2 { float:left; width:55%; }*/
  .content_page  { width:60%; }
  
 }