.link_tooltip:hover .tooltip { visibility: visible; }

.tooltip { visibility: hidden ; position:absolute; text-align:left; background:#333; padding:20px; width:300px; left:-305px; top:-15px ;z-index:200; border-radius:4px;box-shadow: 0 2px 1px rgba(0,0,0,.1); opacity:0;
     transition:visibility 0s linear 0.1s,opacity 0.1s linear, box-shadow 0.5s linear;

}

.link_tooltip:hover .tooltip { visibility:visible; opacity:1; transition-delay:.1s; }

.tooltip .tooltip_title { font-weight:600; font-size:14px; display:block; line-height:20px; margin:0 0 5px; color: #fff }
.tooltip .tooltip_paragraph { font-weight:normal; font-size:12px; display:block; line-height:20px; margin:0 0 5px; color: #fff }



.tooltip:after /* triangle decoration */
    {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #333;
        content: '';
        position: absolute;
        left: 50%;
        top: 15px;
        margin-left: -10px;
    }
 
        .tooltip.top:after
        {
            border-right-color: transparent;
            border-left: 10px solid #333;
            top: -20px;
            bottom: auto;
        }
 
       .tooltip.left:after
        {
            left: 10px;
            margin: 0;
        }
 
        .tooltip.right:after
        {
            right: -10px;
            left: auto;
            margin: 0;
        }