= simple_form_for [:admin, @user] do |f|
  - if @user.errors.any?
    #error_explanation
      h2= pluralize(@user.errors.count, "error") 
      | prohibited this feature from user saved:
      ul
        - @user.errors.full_messages.each do |message|
          li= message
  = f.input :first_name
  = f.input :last_name
  = f.input :phone
  = f.input :email
  - if current_user.admin?
    = f.input :role, collection: [[:user, 0], [:advocate, 2], [:admin, 1]], include_blank: false

  = f.input :send_invitation_email, label: 'Send invitation email?', as: :boolean, checked: false, hint: "After creation, send an email inviting the user to set a password and login"

  = f.submit 'Save'


  /<div class="text_align_center button_box"><%= f.submit "Sign Up" ,:class => "btn_cta btn_large" %></div>