.content_page
  #user_search.section
    h2 
      ' Search Users 
      span.note Choose a user to create a new Choice Collection for

    input.admin_search_field type="text" placeholder="Name, Phone, or Email" data-url=search_admin_users_path(format: :json)
    / input.btn_cta.btn_search type="Submit" value="Search"

  #user_results
