.content_page.report_page
  #user_search.section
    h2 
      ' Recent Users 
      span.note= "Showing last #{@new_users.size} users by date added"
    
    span.note.box
      strong= @weekly_count 
      | &nbsp;users new - past 7 days
      | &nbsp;(#{@daily_count} in last 24 hours)
    
    span.note.box
      strong= @monthly_count
      | &nbsp;users new - past 30 days
    
    span.note.box
      strong= @total_count
      | &nbsp;users total

  #user_results
    ul
      - @new_users.each do |u|
        li
          a href="/admin/users/#{u.id}"
            span.box
              span.break_box.user_name= "#{u.first_name || ''} #{u.last_name || ''}"
              span.break_box.user_email= "#{u.email || ''}"
              span.break_box.user_phone= "#{u.phone || ''}"
            span.box.login_info_box
              span.break_box.user_last_login
                | Last login:&nbsp;
                span.js_time= u.last_sign_in_at.to_i || "SalesForce only"
              span.break_box.user_added
                | Added:&nbsp;
                span.js_time= u.created_at.to_i
              
              span.break_box.user_login_count= "Logged in #{pluralize(u.sign_in_count.to_i, 'time')}" 
              span.break_box.source= "Source: #{u.external? ? 'external' : 'sign up'}" 

            span.box.collection_status
              span.break_box.user_has_cc
                - if u.choice_collections.count > 0
                  span.collection_sent= 'Collection Sent' 
                - else 
                  span.no_collection_sent = 'No Collection Sent'

            span.clr
