.content_page
  #user_profile
    p 
      span.icon_back.sprite
      = link_to 'Back to Search', admin_users_path
    
    h1 
      | User Info
      p.choice_collection_subtitle= link_to 'Edit User', edit_admin_user_path(@user)
    dl    
      dt Name:
      dd.user_name= "#{@user.first_name} #{@user.last_name}"
      dt Phone:
      dd= @user.phone
      dt Email:
      dd= @user.email
      dt Role:
      dd= @user.role
      .clr
    /p= link_to 'Create Choice Collection', new_admin_choice_collection_path(user_id: @user) , class: 'button' 

    p
      = link_to 'Create Choice Collection', admin_choice_collections_path(choice_collection: { user_id: @user }), "data-method" => :post, class: 'button', :title=>'Create a Choice Collection for this User'

    #choice_collections_list
      - if @user.choice_collections.length > 0
        h4 
          ' Current Choice Collections
        ul
          - @user.choice_collections.each do |cc|
            li
              = link_to cc.name, choice_collection_path(cc), class: 'collection_name', :target=>'_blank', :title=>'View this Choice Collection as a User'
             
              span
                |  &nbsp;- &nbsp;
                -if cc.sent
                  ' Sent on
                  span.js_time=cc.sent_on.to_i
                -else
                  ' Edited on
                  span.js_time=cc.updated_at.to_i
              span.break_box
                | &nbsp; - &nbsp;
                = link_to 'Delete', admin_choice_collection_path(cc), method: :delete, 'data-confirm' => 'Are you sure you want to delete this Choice Collection?', :title=>'Delete this Choice Collection'
                | &nbsp; | &nbsp;
                = link_to 'Edit', edit_admin_choice_collection_path(cc), :title=>'Add, Remove Properties'
                | &nbsp; &nbsp; &nbsp;
                = link_to 'Review & Send', admin_choice_collection_path(cc), class: 'button btn_micro', :title=>'Review & Send this Choice Collection to the User'

    p 
      span.icon_back.sprite
      = link_to 'Back to Search', '/admin/users'

