= simple_form_for [:admin, @community, @pet_policy] do |f|
  .section
    = f.input :pets_allowed
    = f.input :dogs_allowed
    = f.input :cats_allowed
    = f.input :pet_services
    = f.input :breed_restriction

  = f.input :dogs_allowed_notes
  = f.input :cats_allowed_notes
  
  = f.input :weight_limit
  = f.input :pet_deposit
  = f.input :pet_rent
  = f.input :pet_fee
  
  = f.submit 'Save', class: 'button btn_cta btn_large'
  = link_to 'Cancel', edit_admin_community_path(@community), class: 'button btn_large'
  
  - unless @pet_policy.id.blank?
    = link_to "Delete this Pet Policy", admin_community_pet_policy_path(@community, @pet_policy), data: { confirm: 'Are you sure?', method: :delete }, class: 'link_delete'