- activities = tag_section(@result, 'Events, Activities & Classes', 'activity')
- fitness = tag_section(@result, 'Fitness, Recreation & Wellness', 'fitness')
- calendar = @pdfs.select {|x| x.internal_name == "Activity Calendar" }.first
- if activities || fitness # || activity calendar exists
  #activities.section
    h3 Activities
    = activities
    p 
      -if calendar
        a href==calendar.pdf.url
          | Download Activity Calendar
    = fitness
