- agreement = @pdfs.select {|x| x.name == "Rental Agreement" }.first

= render 'inner_costs'

    -if agreement          
      p  
        a href==agreement.pdf.url View Rental, Services and Care Agreement

    = tag_section(@result, 'Services Included in Base Rent', 'included service')

    = tag_section(@result, 'Services At Additional Cost', 'extra service')

    .clr