#description.section
  h3 Property Details
  
  -if check_pet_policy(@result.pet_policy)
    = render 'pets'

  = tag_section(@result, 'Apartment Features', 'apartment feature')

  = tag_section(@result, 'Community Features', 'community feature')

