#details_box class=(request.xhr? ? '' : 'active') class=(@all_notes.blank? ? '' : 'noted')
  #details_top_holder
    #details_top data-id=@result.id class="#{favorites_class(@result)}"
      a.close_details.icon_close_dark.sprite
      span.favorite_box
        span.icon_favorite.sprite title="Add to Favorites"

      - if current_user && !current_user.internal?
        - if @all_notes.blank?
          span.icon_notes.sprite data-href='#advocate_notes' title="Add a Note"
        - elsif @user_notes.blank? && !@advocate_notes.blank?
          span.icon_notes.sprite data-href='#advocate_notes' title="View Advocate Notes"
        - else
          span.icon_notes.sprite data-href='#advocate_notes' title="View Notes"
      - else 
        / user not logged in
        span.icon_notes.sprite data-href='#advocate_notes' title="Add a Note"

      p.category = @search_result.care_types.join(' | ')
      h2 =@result.name
      .box1
        .address
          p.address1 =@result.address
          p.address2 =get_location_string(@result)
          span.phone 
            == phone_number(@result)
          a.link_check_availability.lead_form_trigger id="lead_form_#{@result.id}_0" data-phone=raw_phone_number(@result) data-title="Check Availability" data-community-id=@result.id data-for="check_availability_form" title="Check Availability" 
              span.icon_expand.sprite
              | Check Availability
      .box2 
        .cta_box         
          .box2
            div
              a.link_check_availability.lead_form_trigger id="lead_form_#{@result.id}_1" data-phone=raw_phone_number(@result)  data-title="Check Availability" data-community-id=@result.id data-for="check_availability_form" title="Check Availability" 
                span.icon_expand.sprite
                | Check Availability
            div
              a.link_schedule_tour.lead_form_trigger id="lead_form_#{@result.id}_2" data-phone=raw_phone_number(@result) data-title="Schedule a Tour" data-community-id=@result.id data-for="check_availability_form" title="Schedule a Tour" 
                span.icon_expand.sprite
                | Schedule a Tour
            div
              a.link_price_estimate.lead_form_trigger id="lead_form_#{@result.id}_3" data-phone=raw_phone_number(@result)  data-title="Get a Price Estimate" data-community-id=@result.id data-for="check_availability_form" title="Get a Price Estimate" 
                span.icon_expand.sprite
                | Get an Estimate
          .clr
        
      .clr
    #details_tabs
      p
        a href="#details_image_box" Photos
        a href="#floorplans" Floorplans & Pricing
        a href="#services" Services
        a href="#description" Features
        a href="#dining" Dining
        a href="#activities" Activities
  #details
    - unless @search_result.hero_image.blank? && @result.images.blank?
      #details_image_box
        #details_image
          .arrow_right.sprite
          .arrow_left.sprite
          .swiper-container
            .swiper-wrapper
              - unless @search_result.hero_image.blank?
                .swiper-slide= community_image(@search_result.hero_image)
              - @result.images.each do |src|
                .swiper-slide= community_image(src)

    #details_content
      - if current_user

        - if @advocate_notes.blank?
          #advocate_notes.notes_box

        - if !@advocate_notes.blank?
          .section#advocate_notes.notes_box
            h4
              span.highlighted Advocate Notes

            - @advocate_notes.each do |note|
              - if fname = note.admin.first_name
                p.note_added_by
                  ' Added by 
                  strong
                    span=fname
                  ' &nbsp; -
                  span.js_time.small_text.note_time= note.created_at.to_i
              p= note.body

        - if !@user_notes.blank?
          .section#notes.notes_box data-username=current_user.name_or_email
            h4
              span.highlighted
                span.my_notes_title
                  ="#{current_user.name_or_email}'s Notes"

                - unless current_user.internal?
                  a href="javascript:void(0)" class="add_note_link" data-id=@result.id 
                    span.icon_notes.sprite
                    =="Add a Note"

            - @user_notes.each do |note|
              - if fname = note.user.first_name
                p.note_added_by
                  ' Added by 
                  strong
                    span=fname
                  ' &nbsp; -

                  span.js_time.small_text.note_time= note.created_at.to_i
              p= note.body

        - elsif @user_notes.blank?
          .section#notes.notes_box data-username=current_user.name_or_email
            h4 style="display:none;"
              span.highlighted
                span.my_notes_title
                  ="#{current_user.name_or_email}'s Notes"

                - unless current_user.internal?
                  a href="javascript:void(0)" class="add_note_link" data-id=@result.id 
                    span.icon_notes.sprite
                    =="Add a Note"

            - unless current_user.internal?
              a href="javascript:void(0)" class="add_note_link solo" data-id=@result.id 
                span.icon_notes.sprite
                =="Add a Note"


      - unless @floorplans.blank? and @care_charge.blank?
        .section id=(@floorplans.blank? ? nil : 'floorplans')
          div id=(@floorplans.blank? ? nil : 'floorplans_header')
            .box1
              - unless @floorplans.blank?
                h3 
                  span Floorplans 
                  span.break_box & Pricing

            .box2
              - if @search_result.starting_at.to_i != 0
                p.price              
                  ="Starting at #{cost(@search_result.starting_at)}"
                  span.small_text 
                    | /mo.
                p.care_formula 
                  - if @care_charge
                    ' Service/Care Charges:
                    a.care_charge_pop.break_box id="care_charge_#{@result.id}" data-for="care_charge_popup" data-title=@care_charge.name data-description=@care_charge.description href="javascript:void(0);" = @care_charge.name
            .clr
          - unless @floorplans.blank?
            -@floorplans.group_by(&:care_type).each do |care_type, fplans|
              .floorplan_divider= "#{care_type.try(:name)} Floor Plans"
              - fplans.each do |fp|
                = render "communities/floorplan", floorplan: fp

      = render "communities/costs"
      = render "communities/services"
      = render "communities/description"
      = render "communities/dining"
      = render "communities/activities"



    .clr

