.floorplan_box
  .box1
    -unless floorplan.photo_file_name.blank?
      .image_box
        a.fp_photo_pop id="fp_pop_#{floorplan.id}" data-for="fp_photo_popup" data-title=floorplan.name href="javascript:void(0);" data-photo==floorplan.image_path
          = image_tag('nonsprite/fake_floorplan.png')
  .box2
    h5.title 
      -unless floorplan.photo_file_name.blank?
        a.fp_photo_pop id="fp_pop_#{floorplan.id}_0" data-for="fp_photo_popup" data-title=floorplan.name href="javascript:void(0);" data-photo==floorplan.image_path
          =floorplan.name
      -else
        =floorplan.name
    dl
      span.fp_info_box
        dt Bedrooms
        dd 
          =normalized_beds(floorplan.beds)
      span.fp_info_box.fp_starting_price
        span.break_box
          dt Starting At
          dd 
            - if [nil,0,"0"].include?(floorplan.starting_at)
              span Call for Info
            - else
              ="$#{number_with_delimiter(floorplan.starting_at, delimeter: ',')}"
      span.fp_info_box
        dt Baths
        dd 
          =floorplan.baths
      span.fp_info_box
        -if floorplan.square_feet.to_i != 0
          dt Sq. Ft.
          dd
            = number_with_delimiter(floorplan.square_feet, delimeter: ',') 
      
    p.construction Features, Features, Features
  .clr