- dining = @result.community_dining

- if check_dining(dining)
  #dining.section
    h3 Food/Dining

    dl.meals_per_day
      -if dining.meals_per_day
        dt
          |Meals per Day
        dd
          =dining.meals_per_day
    p ==dining.meals_description

    - unless dining.breakfast_hours.blank? && dining.lunch_hours.blank? && dining.dinner_hours.blank?
      h4 Dining Hours
      dl
        - unless dining.breakfast_hours.blank?
          dt Breakfast
          dd 
            ==dining.breakfast_hours
        - unless dining.lunch_hours.blank?
          dt Lunch
          dd 
            ==dining.lunch_hours
        - unless dining.dinner_hours.blank?
          dt Dinner
          dd 
            ==dining.dinner_hours
