- deposit_fees = @result.deposit_fees.all
- other_services = @result.other_services.all
-unless deposit_fees.blank? and other_services.blank?
  #costs.section
    -unless deposit_fees.blank?
      h4 One-Time Costs
      dl  
        -deposit_fees.each do |fee|
          dt ==fee.name
          dd 
            -if fee.fee
              = "#{cost(fee.fee)}"
            - if fee.deposit
              =cost(fee.deposit)
              span.note &nbsp;deposit

    -unless other_services.blank?
      h4 Monthly Costs
      dl
        -other_services.each do |service|
          dt ==service.name
          dd 
            -if service.monthly_cost
              span = cost(service.monthly_cost)
              span.note  per month
            -if service.included_in_rent
              span.not &nbsp;included in rent
