h4 Pet Policy
dl 
  -unless @result.pet_policy.try(:weight_limit).blank?
    dt Weight Limit
    dd ==@result.pet_policy.try(:weight_limit)
      ' lbs
  dt Breed Restriction
  dd =normalized_bool(@result.pet_policy.try(:breed_restriction))
  dt Pet Services
  dd =normalized_bool(@result.pet_policy.try(:pet_services))
  dt Allows Dogs
  dd =normalized_bool(@result.pet_policy.try(:dogs_allowed))
  dt Allows Cats
  dd =normalized_bool(@result.pet_policy.try(:cats_allowed))