#services.section
  h3 Services

  = tag_section(@result, 'Personal Services', 'personal service')

  = tag_section(@result, 'Personal Care Services', 'personal care service')

  = tag_section(@result, 'Medical Services', 'medical service')

  - if @care_charge
    h4 Service/Care Pricing Method
    p = @care_charge.description
