#results_box.box1
  = render "shared/search_box"
  #results_controls
    span#result_total_count
      - if controller_name == 'choice_collections' && action_name == 'show'
        span.break_box= "Choice Collection for #{current_user.name_or_email}"
      - else
        span= pluralize(@results.total_count, 'Community')
        span.break_box= " #{action_name == 'favorites' ? 'Saved' : 'Found'}"
    - if current_user
      span#user_save_search style="display:none;"
        a href="javascript:void(0);" data-url="/searches" 
          span Save 
          span.break_box this Search



    .sort_control
      span.sort_label Sort By:

      - sort_titles = { distance: 'Distance', price_low_to_high: 'Price Low', price_high_to_low: 'Price High', num_units_high_to_low: '# of Units'}.with_indifferent_access

      ul#sort_box
        li.sort_level1
          a href="javascript:void(0);" = sort_titles[@search[:sort]] || 'Distance'
          ul.sort_level2
            li
              a style=(['distance', nil].include?(@search[:sort]) ? 'display:none' : '') data-sort="distance" href="javascript:void(0);" Distance
            li
              a style=(@search[:sort] == 'price_low_to_high' ? 'display:none' : '') data-sort="price_low_to_high" href="javascript:void(0);" Price Low
            li
              a style=(@search[:sort] == 'price_high_to_low' ? 'display:none' : '') data-sort="price_high_to_low" href="javascript:void(0);" Price High
            li
              a style=(@search[:sort] == 'num_units_high_to_low' ? 'display:none' : '') data-sort="num_units_high_to_low" href="javascript:void(0);" # of Units


  #results_holder  
    
    #results
      = render 'shared/spinner'
      
      #results_scroll
        = render partial: "shared/result"

  #details_holder
    - if @result
      = render "communities/details"

.box2#map_holder
  #map_canvas data-url=map_search_communities_path(format: :json)
.clr

