#add_note_popup.popup_box data-for='add_note_popup'
  .popup
    a.close.icon_close_dark.sprite href='javascript:void(0);'
    h2 Add a Note
    = simple_form_for Note.new, :remote=>true do |f|
      = f.input :community_id, as: :hidden
      = f.input :body, label: 'Note'
      .text_align_center
        = f.submit 'Save Note'
