#check_availability_form.popup_box.hidden
  .popup
    a.close.icon_close_dark.sprite href="javascript:void(0)" 
    #lead_form_header
      h2 Send an Email
      #phone_section style="display:none;"
        p
          strong 
            span Call us at:&nbsp;
            span.phone_number 
      p Or provide your message and contact information below and your Family Advocate will assist with the request.
    #lead_form_container
      = render 'leads/form'
    #thank_you_container.hidden