- if controller_name == 'choice_collections' && @choice_collection.try(:personal_message)
  #personal_message.popup_box data-for='personal_message'
    .popup
      a.close.icon_close_dark.sprite href='javascript:void(0);'
      h2 
        span.break_box Your Personalized&nbsp;
        span.break_box Choice Collection

      
      #cc_message_holder
        = simple_format(@choice_collection.personal_message)
        p.text_align_center
          strong
            a.button.close href="javascript:void(0);" View Your Choice Collection
      - if headshot = @choice_collection.try(:owner).try(:headshot_path)
        .image_box.box1
          img#cc_headshot src=headshot
      #cc_signature.box2
        p 
          = @choice_collection.try(:owner).try(:first_name)
          '
          = @choice_collection.try(:owner).try(:last_name)
          br 
          | Family Advocate
          br
          strong= formatted_phone @choice_collection.try(:owner).try(:phone)
          br
          span.email_address=@choice_collection.try(:owner).try(:email)
      #cc_logo_box
        a#cc_logo.sprite
      //.button_box.text_align_center
      //  a.button.close.btn_cta View Choice Collection
      .clr