- if flash[:popup]
  #flash_popup.popup_box data-for='flash_popup'
    .popup
      a.close.icon_close_dark.sprite href='javascript:void(0);'
      h2 Notice
      p= raw flash[:popup]
      p.text_align_center
        a.close.button href='javascript:void(0);' Okay