#user_not_logged_in.popup_box data-for='user_not_logged_in'
  .popup.text_align_center
    a.close.icon_close_dark.sprite href='javascript:void(0);'
    h2 Please Log in
    p 
    p.text_align_center
      a.login_button.button.btn_cta#user_favorite_login href="javascript:void(0)" Log In
      | &nbsp;
      a.login_button.button#user_favorite_join href="javascript:void(0)" Join
