#no_results_found.popup_box data-for='no_results_found'
  .popup.text_align_center
    a.close.icon_close_dark.sprite href='javascript:void(0);'
    h2 No Results Found
    p Sorry, we don't have anything that matches your criteria. 
    p
      strong 
        a.close href="/" Please try another search.
