#save_search_form.popup_box.hidden data-for='save_search_form'
  .popup
    a.close.icon_close_dark.sprite href="javascript:void(0)" 

    = simple_form_for Search.new do |f|
      h2 Save this Search
      = f.input :name, label: 'Name Your Search'
      .text_align_center
        = f.submit 'Save',class: 'btn_large'

    #save_search_saved_message style="display:none;"
      h2 Search Saved
      p 
        | You can view your saved searches on your 
        a href="/dashboard" Family Account 
        ' page
      .text_align_center
        a.close.button.btn_large href='javascript:void(0);' Okay
