- session[:splash_shown] = true

- if !current_user && !session[:splash_shown]
  - session[:splash_shown] = true
  #welcome_splash.popup_box data-for="welcome_splash"
    .popup
      a.close.icon_close_dark.sprite href='javascript:void(0);'
      a.close.logo.sprite href="javascript:void(0);"
      .welcome_msg
	      h2 Welcome!
	      p More to come...
	      p.text_align_center 
	        a.button.btn_large.btn_cta.close href="javascript:void(0);" Start Search
	        | &nbsp;&nbsp;
	        a.button.btn_large href="users/sign_up" Sign Up
	      p.text_align_center 
	        ' Already have an account?
	        a href="users/sign_in"  Log in.