= simple_form_for [:admin, @community, @floorplan] do |f|
  = f.input :name
  = f.input :baths, collection: [0, 1, 2, 3], include_blank: false
  = f.input :beds, collection: [['Shared', -1], ['Studio', 0], ['1 Bedroom', 1], ['2 Bedroom', 2], ['3 Bedroom', 3]], include_blank: false

  = f.input :square_feet, input_html: { class: 'numeric' }
  = f.input :starting_at, input_html: { class: 'numeric' }
  = f.input :care_type_id, :collection=>Tag.where(:kind=>"Care Type").all, :selected=>@floorplan.care_type_id
  -if @floorplan.photo_file_name
    label Current Floorplan Image
    .image_box 
      =image_tag @floorplan.image_path
    .clr
  =f.input :photo, as: :file, input_html: { multiple: true }, label: 'Upload Floorplan Image'
  .clr
  
  = f.submit 'Save', class: 'button btn_large btn_cta'
  = link_to 'Cancel', admin_community_floorplans_path(@community), class: 'button btn_large'

  
