#floorplans_list.content_page.community_edit
  p 
    span.icon_back.sprite
    = link_to 'Back to Community', edit_admin_community_path(@community)
  h1
    ' Floorplans for
    = @community.name 
  p = link_to 'Add New Floorplan', new_admin_community_floorplan_path, class: 'button'
  ul
    - @floorplans.each do |fp|
      li
        ul
          -if fp.photo_file_name
            li.image_box=image_tag fp.image_path
          li.floorplan_title
            strong = "#{fp.name || '-'}"
            '  - 
            = link_to 'Edit', edit_admin_community_floorplan_path(@community, fp)
            |&nbsp;|&nbsp;
            = link_to 'Delete', admin_community_floorplan_path(@community, fp), 'data-method' => :delete, 'data-confirm' => 'Are you sure?'

          li
            ' Starting At: 
            strong = "#{cost(fp.starting_at)}"

          li
            ' Baths: 
            strong = "#{fp.baths || '-'}"
          li
            ' Beds: 
            strong = "#{normalized_beds(fp.beds) || '-'}"
          li
            ' Sq. Ft.: 
            strong = "#{number_with_delimiter(fp.square_feet.to_i, delimeter: ',')}"
          li
            ' Type:  
            strong = "#{fp.care_type.try(:name) || '-'}"
          span.clr
  p 
    span.icon_back.sprite
    = link_to 'Back to Community', edit_admin_community_path(@community)
          
      

  