doctype html
html
  head
    link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'redactor-rails'
    = javascript_include_tag 'admin', 'data-turbolinks-track' => true
    = csrf_meta_tag

  body.admin class=(current_user.blank? ? 'logged_out' : 'logged_in') class=controller_path.gsub('/','_')
    #page_box
      = render 'shared/header_admin'
      #page
        = yield

    #add_to_cc_popup.popup_box data-for='add_to_cc_popup'
      .popup
        a.close.icon_close_dark.sprite href='javascript:void(0);'
        h2 Add to Choice Collection
        = simple_form_for [:admin, ChoiceCollectionCommunity.new] do |f|
          = f.input :community_id, as: :hidden
          = f.input :note, as: :text
          .text_align_center
            = f.submit 'Add to Choice Collection'
    #edit_cc_note_popup.popup_box data-for='edit_cc_note_popup'
      .popup
        a.close.icon_close_dark.sprite href='javascript:void(0);'
        h2 Update Community Note
        = simple_form_for [:admin, ChoiceCollectionCommunity.new], :remote=>true do |f|
          = f.input :id, as: :hidden
          = f.input :note, as: :text
          .text_align_center
            = f.submit 'Save', :id=>"save_button", class: 'button btn_cta btn_large'
    -if @choice_collection
      #edit_cc_name.popup_box data-for='edit_cc_name'
        .popup
          a.close.icon_close_dark.sprite href='javascript:void(0);'
          h2 Edit Collection Name
          = simple_form_for [:admin, @choice_collection], :url=>admin_choice_collection_path(@choice_collection), :method=>:patch, :remote=>true do |f|
            = f.input :name
            .text_align_center
              = f.submit 'Save', :id=>"save_button", class: 'button btn_cta btn_large'
              
    - if flash[:popup]
      #flash_popup.popup_box data-for='flash_popup'
        .popup.text_align_center
          a.close.icon_close_dark.sprite href='javascript:void(0);'
          h2 Notice
          p= raw flash[:popup]
          p
          a.close.text_align_center href='javascript:void(0);' Okay

    #fp_photo_popup.popup_box
      .popup.text_align_center
        a.close.icon_close_dark.sprite href='javascript:void(0);'
        h2 Floorplan
        img
      
