doctype html
html
  head
    title= seo_title
    meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" 
    - if Rails.env == 'production'
      meta name="google-site-verification" content="YJ65YZMrLeyzv5nTFftnde69gi4YGxKg6Qf40t-ieIk"
      meta name="google-site-verification" content="b7IOUP7GMQ8wOsphTK9kRJQ7_Sy8so-C0or5H7tzS1M" 
    link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'
    link rel="shortcut icon" href="/favicon.ico"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  body class=(current_user.blank? ? 'logged_out' : 'logged_in') class="#{controller_name} #{action_name}"
    #page_box
      = render 'shared/header'
      #page
        = yield

    = render 'popups/welcome_splash'
    = render 'popups/check_avail'
    = render 'popups/no_results_found'
    = render 'popups/login_favorites'
    = render 'popups/floorplan_photo'
    = render 'popups/flash_popup'
    = render 'popups/care_charge'
    = render 'popups/choice_collection_greeting'
    = render 'popups/save_search_form'
    = render 'popups/add_note'

    - if Rails.env == "production"
      = render 'shared/google_analytics'
      = render 'shared/snapengage'